@import "{}/client/scss/variables.scss";
.placeholder {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: $light-bg;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $main-bg;
  background: linear-gradient(to right, $light-bg 10%, $light-bg 18%, rgba($plus-color, 0.1) 33%, $light-bg 43%);
  background-size: 800px 100%;
  height: 100%;
  position: relative;
}
.publicationLoader {


  .userAvatar {
    overflow: hidden;
  }

  .username {
    width: 35%;
    height: 1em;
    margin-top: 2px;
    border-radius: 5px;
    overflow: hidden;
  }

  .publicationDate {
    width: 45%;
    height: 1em;
    border-radius: 5px;
    overflow: hidden;
  }

  .publicationContent {
    .placeholder {
      width: 100%;
      height: 1em;
      margin: 10px 0;
      border-radius: 5px;
      overflow: hidden;

      &.placeholder2 {
        width: 65%;
      }
    }
  }
}
