@import url('https://fonts.googleapis.com/css?family=Questrial');/*!


 /*****************************
 Polices
 *****************************/
* {
    font-family: 'Questrial', sans-serif;
}
/******************
COULEURS
 ***********************/
.dark-grey{
    background-color: #141414;
}
/*****BACKGROUNDS****/
.trame{
    background-image: url("/images/trame/trame4-black.png");
    background-size: cover;
    opacity: 0.5;
}

/******COULEUR POLICES******/

.light-grey-police{
    color: #DBDBDB;
}

/****************************
UTILITAIRES
 */

.small-margin{
    margin: 5px !important;

}
.no-margin{
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}