@import url('https://fonts.googleapis.com/css?family=Questrial');
 /*****************************
 Polices
 *****************************/
* {
    font-family: 'Questrial', sans-serif;
}
body{
    overflow-x: hidden;
}
.font-title{
    font-size: 14px ; font-weight: 700 ;  Text-Transform: Uppercase;
}
.small-text{
    font-size: 0.95em;
    text-align: justify;

}
/******************
COULEURS
 ***********************/
.dark-grey{
    background-color: #141414 !important;
}
.darken-grey{
    background-color: rgba(2, 2, 2, 0.22) !important
}
.medium-dark-grey{
    background-color: #1c1c1c !important;
}
.more-dark-grey{
    background-color: #191919 !important;
}
.orange-border{
    border: 2px solid #C87F0A !important;
}
.green-border{
    border: 2px solid #4CAF50 !important;
}
.deep-purple-border{
    border: 2px solid #5E35B1 !important;
}
.red-border{
    border: 2px solid #E53935 !important;
}
.teal-border{
    border: 2px solid #00897B !important;
}
.amber-border{
    border: 2px solid #FFB300 !important;
}
.light-grey-border{
    border: 1px solid #b8b8b8 !important;
}
.hover-white:hover *{
    color: #ebebeb !important;
}
.hover-light-grey:hover *{
    color: #b8b8b8 !important;
}
.hover-orange:hover *{
    color: #C87F0A !important;
}
.hover-green:hover *{
    color: #4CAF50 !important;
}
.hover-deep-purple:hover *{
    color: #5E35B1 !important;
}
.hover-red:hover *{
    color: #E53935 !important;
}
.hover-teal:hover *{
    color: #00897B !important;
}
.hover-amber:hover *{
    color: #FFB300 !important;
}
.hover-dark-grey:hover *{
    color: #1c1c1c !important;
}
.hover-bg-orange:hover{
    background-color: #C87F0A !important;
}
.hover-bg-dark-grey:hover{
    background-color: #1c1c1c !important;
}
.hover-bg-green:hover {
    background-color: #4CAF50 !important;
}
.hover-bg-deep-purple:hover{
    background-color: #5E35B1 !important;
}
.hover-bg-red:hover {
    background-color: #E53935 !important;
}
.hover-bg-teal:hover {
    background-color: #00897B !important;
}
.hover-bg-amber:hover {
    background-color: #FFB300 !important;
}
/*****BACKGROUNDS****/
.hr{

width: 100%;
    height: 20px;
    margin: 20px 0;
    background-image: url("/images/trame/hr.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.trame-texture{
    background-image: url("/images/trame/trame5.png");
    background-color: #1c1c1c !important;
    background-attachment: fixed;
}
.trame-box{
    background-image: url("/images/trame/trame5.png");
    background-color: #1c1c1c !important;
    background-attachment: fixed;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);

}

/******COULEUR POLICES******/

.light-grey-police{
    color: #DBDBDB;
}

/****************************
UTILITAIRES
 */
.no-margin{
    margin: 0 !important;
}
.small-margin{
    margin: 5px !important;
}

.small-padding{
    padding: 10px !important;
}
.no-padding {
    padding: 0 !important;
}
.padding-l-r{
    padding-left: 7px !important;
    padding-right: 7px !important;
}

.flex{
    display: flex !important;
}
.flex-auto{
    flex: auto !important;
}
.small-info{
    font-size: smaller !important;
}
.borer-radius{
    border-radius: 5px !important;
}
/***********************
SCROLLBAR
 ************************/
.scrollbar{
    overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.scrollbar::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.scrollbar::-webkit-scrollbar-thumb {
    background: #363636;
    border: 0px none #ffffff;
    border-radius: 52px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #424242;
}
.scrollbar::-webkit-scrollbar-thumb:active {
    background: #000000;
}
.scrollbar::-webkit-scrollbar-track {
    background: #111111;
    border: 0px none #ffffff;
    border-radius: 0px;
}

.scrollbar::-webkit-scrollbar-track:active {
    background: #131313;
}
.scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}

/***************
FORM
 ****************/
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default){
    border-bottom: 1px solid #9e9e9e !important;
}
.input-field input[type=text].valid, .input-field input[type=password].invalid {
    background-color: transparent !important;
    border-bottom: 1px solid #C87F0A !important;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid , .input-field input[type=password].invalid {
    background-color: transparent !important;
    border-bottom: 1px solid #D62C1A !important;
    box-shadow: 0 1px 0 0 #000;
}

input{
    color: #DBDBDB;
}

/*input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {*/
    /*background-color: #141414 !important;*/
    /*background-image: none;*/
    /*color:#DBDBDB;*/
/*}*/

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #3f3f3f inset !important;
}

.tabs .indicator{
    background-color: lightgray;

}
.material-tooltip{
    opacity: 0.9 !important;
    padding: 10px 15px !important;
    max-width: 35em !important;
}
.material-tooltip span{
    opacity: 0.9 !important;
    font-size: 0.9em !important;
}
.inline-block{
    display: inline-block !important;
}
.static{
    position: static !important;
}
.relative{
    position: relative !important;
}
.absolute{
    position : absolute !important;
}
.hidden{
    visibility: hidden !important;
}
.fixed-modal{
    position: fixed !important;
}
.miniature{
    margin: 5px 0 ;
}
.miniature a img{

    height: 2.5em !important;
    vertical-align: middle !important;
}
.miniature span{
    position: relative;
    vertical-align: middle !important;
}
.miniature-category-container{

    padding: 7px !important;
    border-radius: 3em !important;
    background-color: rgba(20, 20, 20, 0.71);
}
.miniature-category img{
    height: 3em !important;
    vertical-align: middle !important;
}
.text-shadow{
    text-shadow: 0px 0px 2px #000000 !important;
}
.shadow{
    -webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
}
.top-right-btn{
    position: absolute;
    top : 25px;
    right: -15px;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #404040 !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #404040 !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #404040 !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #404040 !important;
}
.card{
    margin: 0 !important;

}
.card-content{
    padding: 20px !important;
}
.card-title{
    background-color: rgba(0, 0, 0, 0.12);
    margin: -20px -20px 20px -20px !important;
    padding: 7px 10px 7px 10px;
    font-size: 1.1em !important;
}
.post-container h5{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis !important;
}
.formattedText a, .formattedText span{
    color: rgba(255, 199, 88, 0.78) !important;
}
.formattedText a:hover{
    text-decoration: underline !important;
}
.formattedText ul{
    margin-left: 55px !important;
}
.formattedText ul li{
    list-style-type: disc !important;
}
.editable::after{
    position: static!important;
}
.img-max-width{
    width : 100% !important;
    height: auto !important;
}
.post-container{
    overflow-y: hidden;

}
.post-height-by-media{
    height: 110vw;
}
@media only screen and (min-width: 601px) {
    .post-height-by-media{
        height: 23vw;
    }
}
@media only screen and (min-width: 993px) {
    .post-height-by-media{
        height: 18vw;
    }
}
@media only screen and (min-width: 1284px) {
    .post-height-by-media{
        max-height: 13vw;
    }
}

.center{
    vertical-align: middle !important;
    margin: auto !important;
}
.justify{
    text-align: justify;
}
input[type=range]{
    border: none !important;
    background-color: #000000 !important;
}
.range-field .thumb{
    background-color: #0e0e0e !important;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: #0e0e0e !important;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 50%;

    background-color: #0e0e0e !important;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border-radius: 3px;
    background: #000000;
    cursor: pointer;
}
.edit-category-item{
    cursor: move;
    cursor: -webkit-grabbing;
}
.categories-list{
    padding: 2px 5px;
}
.categories-list img{
    padding: 2px;
    width: 3.4em;
    height: 3.4em !important;
}
.chip{
    background-color: #141414 !important;

}

.dropdown-content{
    background-color: rgba(20, 20, 20, 0.95) !important;
}
.dropdown-content li *{
    margin:  0 !important;
}
.dropdown-content * {
   font-size: 0.95em !important;
}
.autocomplete-content li:hover, .autocomplete-content .active{
    background-color: rgba(255, 255, 255, 0.09) !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #6f430a;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #C87F0A;
}