<template name="userParams">
    {{#if currentUser}}
    <div id="userParams" class=" gradiant  main-color">
        <div class="container">
            <div class="row">
                <div class="col s12 m8 offset-m2 center-align">

                    <div class="row no-margin ">
                        <div class="profile-picture circle shadow relative ">
                            {{>editAvatar}}
                        </div>
                    </div>
                    <div class="row no-margin ">
                        <h5>{{currentUser.username}}</h5>
                    </div>
                </div>
                <div class="col s12 m10 offset-m1 offset-l2 l8">
                    <ul class="collapsible popout" id="editPasswordCollapse" data-collapsible="accordion">
                        <li style="background: none !important; box-shadow: none !important;">
                            <div class="collapsible-header main-color transparent active"><div class="flex"><i class="material-icons">build</i>Options</div>
                                <div class="hr"></div></div>
                            <div class="collapsible-body">
                                {{>userOptions}}
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header main-color transparent"><div class="flex"><i class="material-icons">security</i>{{__ '.editPassword'}}</div>
                                <div class="hr"></div></div>
                            <div class="collapsible-body">
                                <p class="infoQuotes no-margin">{{__ '.peditPassword'}}</p>
                                {{>editPassword}}
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header main-color transparent"><div class="flex"><i class="material-icons">delete_forever</i>{{__ '.deleteAccount'}}</div><div class="hr"></div></div>
                            <div class="collapsible-body">
                                <p class="danger-color center-align " >{{__ '.pdeleteAccount'}}</p>
                                <p class="danger-color no-margin" ><i>{{__ '.passwordDeleteAccount'}}</i></p>
                                {{>deleteAccount}}
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
        {{/if}}
</template>
