<template name="userParams">
    <div id="userParams" class=" gradiant  main-color">
        <div class="container">
            <div class="row">

                <div class="col s12 m8 offset-m2 center-align">
                    <div class="row no-margin">
                        <div class="profile-picture circle focus-border shadow relative ">
                            {{>editAvatar}}
                        </div>

                    </div>
                    <div class="row no-margin">
                        <h5>{{currentUser.username}}</h5>
                    </div>
                </div>
                <div class="col s12 m8 offset-m2 ">
                    <ul class="collapsible popout" id="editPasswordCollapse" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header main-color transparent"><div class="flex"><i class="material-icons focus-color">security</i>Modifier le mot de passe</div>
                                <div class="hr"></div></div>
                            <div class="collapsible-body">
                                <p class="infoQuotes no-margin">Nous n'auront aucun moyen de vous aider si vous oubliez votre mot de passe.
                                    Ainsi, il est recommandé de noter le mot de passe que vous aurez choisi.</p>
                                {{>editPassword}}
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header main-color transparent"><div class="flex"><i class="material-icons focus-color">delete_forever</i>Supprimer votre compte</div><div class="hr"></div></div>
                            <div class="collapsible-body">
                                <p class="red-text text-darken-1 center-align " >LA SUPPRESSION DE VOTRE COMPTE SERA DEFINITIVE.</p>
                                <p class="red-text text-darken-1 no-margin" ><i>Entrez votre mot de passe afin de confirmer la suppression du compte.</i></p>
                                {{>deleteAccount}}
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</template>
