@import "{}/client/scss/variables.scss";

#userParams {
  min-height: 100vh;
  padding: 30px 0;

  .profile-picture {
    width: 160px;
    height: 160px;
    text-align: center;
    display: inline-block;

    img {
      border-radius: 50%;
    }

    .btn-floating {

      position: absolute;
width: 35px;
      height: 35px;
      transition: 0.4s ease-out;
      z-index: 201;

      .material-icons {
        position: relative;
        top:-2.5px;
        font-size: 20px;
        color: $plus-color;
        transition: 0.4s ease-out;
      }

      background-color: $main-bg;
      opacity: 1;

      &:hover {
        opacity: 1;
        background-color: $contrasted-bg;

        .material-icons {
          color: $focus-color;
        }
      }
    }
  }

  .collapsible {
    margin-bottom: 30vh;

    li {
      box-shadow: none;
      margin: 0 !important;
      &.active {
        // border: 1px solid $blue-highlight-color;
        background: linear-gradient(45deg, $light-bg  00%,$main-bg  100%);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

      }
    }

    .collapsible-body {
      padding: 15px;
      border-bottom: none;
    }

    .collapsible-header {
      position: relative;
      box-shadow: none !important;
      transition: 0.3s ease-out;
      border: none;
      display: block;
      padding: 10px 14px;
      font-size: 1.2em;

      .hr {
        margin: 15px 0 0 0 !important;
        display: block;
        position: absolute;
        width: calc(100% - 28px);
        bottom: -5px
      }

      &:hover {
        background-color: $lighter-bg !important;
      }
    }

    border-bottom: none;
  }
}
