<template name="projectParams">

    <div id="projectParams" class=" gradiant  main-color">
        <div class="container">
            <div class="row">
                <div class="col s12 m10 offset-m1 center-align">

                    <div class="row no-margin ">
                        <div class="profile-picture shadow relative ">
                            {{>editProjectAvatar currentProject=currentProject}}
                        </div>
                    </div>
                    <div class="row no-margin hand-police ">
                        <h5>{{currentProject.name}}</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m10 offset-m1 xl8 offset-xl2">
                    <ul class="collapsible popout" id="editProjectCollapse" data-collapsible="expandable">

                        <li style="background: none !important; box-shadow: none !important;">
                            <div class="collapsible-header main-color transparent active">
                                <div class="flex"><i class="material-icons ">public</i>{{__
                                        ".publicInfos"}}</div>
                                <div class="hr"></div>
                            </div>
                            <div class="collapsible-body">
                                {{>editProjectDescription currentProject=currentProject}}
                            </div>
                        </li>
                        <li style="background: none !important; box-shadow: none !important;">
                            <div class="collapsible-header main-color transparent active">
                                <div class="flex"><i class="material-icons ">group_add</i>{{__
                                        ".invitationList"}}</div>
                                <div class="hr"></div>
                            </div>
                            <div class="collapsible-body">
                                <div class="row"></div>
                                <div class="row ">
                                    <div class="col s12 m10 offset-m1 l8 offset-l2 center-align" style="padding: 0 25px">
                                        <a href="/project/{{currentProject._id}}/new-invitation" class="full-width btn btnStandard center-align" style="padding: 0 10px">
                                            <i class="focus-color material-icons left">group_add</i>
                                            {{__ ".createInvitelink"}}</a>
                                    </div>
                                </div>
                                {{>invitationList currentProject=currentProject}}
                            </div>
                        </li>
                        <li style="background: none !important; box-shadow: none !important;">
                            <div class="collapsible-header main-color transparent ">
                                <div class="flex"><i class="material-icons ">delete_forever</i>{{__
                                        ".deleteProject"}}</div>
                                <div class="hr"></div>
                            </div>
                            <div class="collapsible-body">
                                {{>deleteProject currentProject=currentProject}}
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
</template>
