<template name="collaboratorAdvertItem">
    {{! Template d'affichage d'une annonce de recherche d'un nouveau membre
    il s'appele avec :
    avert : Object //annonce a afficher
    isAdmin : Boolean //true si l'utilisateur courant est admin du projet auquel est rataché l'advert
    showProjectIcon : Boolean //true si l'on doit afficher la miniature du projet
    }}
    <div class="row no-margin relative">
        <h6 style="overflow-x: hidden !important;"><b>{{#if advert.title}}{{advert.title}}{{else}}Annonce sans titre{{/if}}</b></h6>
        {{#if showProjectIcon}}
        <div class="row no-margin">
            <p class="right-align">
                <i class="small-text">{{advert.location.city}},{{advert.location.country}} {{relativeDistanceFromCoord
                        advert.location.lonLat}}</i>
            </p>

        </div>

            {{> miniature
                    _id=advert.project_id
                    type = "project"}}


    {{/if}}
        <p class="small-text justify" style="overflow-x: hidden !important;">{{advert.content}}</p>
        <div class="row">
            <div class="right-align">
                <i class="small-info right-align">
                    il y a {{formatDuration advert.createdAt}}
                </i>
            </div>
        </div>

        {{#if advert.competencesLabels.length}}
            <div class="row no-margin">
                <p style="margin-bottom: 15px"><i class="small-info" >Competences Souhaités</i></p>
                <div class="row no-margin">
                    <div class=" col s12 no-padding">
                        {{#each label in advert.competencesLabels}}
                            <div class="small-padding  dark-grey shadow"
                                 style="margin-bottom: 10px; border-radius: 8px !important;">{{label}}</div>
                        {{/each}}

                    </div>
                </div>
            </div>
        {{/if}}
        {{#if isAdmin}}
            <a class="btn-floating absolute dark-grey  waves-effect waves-light " style="right: -15px; top : -20px">
                    <i class="material-icons tooltipped "
                       data-position="bottom" data-delay="50" data-tooltip="Supprimer l'annonce" deleteAdvert>clear</i>
            </a>
        {{/if}}
        <div class="hr"></div>
    </div>
</template>