{% extends 'ProjectBundle:templates:ProjectGeneralTemplate.html.twig' %}
{% block projectName %}
    {{ project.name }}
{% endblock %}
{% block isHomePage %}active{% endblock %}
{% block body %}
<div class="row">
        <div class="col-md-8">
            <h3>Description</h3>
            <p>{{ project.description }}</p>
        </div>
</div>
{% endblock %}
