{% extends '::base.html.twig' %}
{% block title %}
    {{ project.name }}
{% endblock %}
{% block body %}
<h1>{{ project.name }}</h1>
    <div class="row">
        <div class="col-sm-8">
            <h3>Description</h3>
            <p>{{ project.description }}</p>
        </div>
        <div class="col-sm-4">
            <h3>Liste des membres</h3>
            {% for userProject in project.getUserProjects %}
                <p>{{ userProject.user.name }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
