{% extends 'ProjectBundle:templates:ProjectGeneralTemplate.html.twig' %}
{% block projectName %}
    {{ project.name }}
{% endblock %}
{% block isMemberPage %}active{% endblock %}
{% block body %}
    <div class="row">

        <div class="col-sm-6">
                    {% for userProject in userProjects %}
                        {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : userProject.User} %}
                    {% endfor %}
        </div>
        <div class="col-sm-6 row">
            {% for invitation in invitations %}
                <div class="col-md-6">
                    {% if invitation.status == 0 %}
                        {% include 'UserBundle:miniTemplate:miniUser.html.twig' with { 'user' : invitation.user} %}
                        <p>{{ invitation.reply }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
