<template name="loginPage">
    {{>birdsBg}}
    <div id="loginPage" class=" gradiant" >
        <div class="bg-logo">
            <img src="/images/icon/systemd-biglogo-grey.png" alt="" >
        </div>
        <div class="container ">
            <div class="row">
                <div class="col m8 offset-m2 l6 offset-l3 xl4 offset-xl4 contrasted-bg shadow login-form-container ">

                    <a href="/" class="brand-logo "><h4 class="hand-police center-align main-color">System-<span class="focus-color">D</span></h4></a>
                    {{>loginForm}}
                </div>
            </div>
        </div>
    </div>
</template>
