@import "{}/client/scss/variables.scss";

#loginPage{
  position: relative;
  min-height: 100vh ;
  .container{
    padding: 50px 0;
  }
  .login-form-container{
    background-color: rgba($contrasted-bg, 0.8);

    position: relative;
    z-index: 10;
  }
}
#loginForm{
  .tab a{
    font-size: 1.2em;
    color: $focus-color !important;

  }
  .indicator{
    background-color: $focus-color;
    height: 3px;
  }
}
#signin{
  .carousel-item{
    padding: 15px;
  }
  .signinInfo{

  }
  .indicator-item{
    margin: 0 4px;
  }
}
