@import "{}/client/scss/variables.scss";

#loginPage {
  position: relative;
  min-height: 100vh;
  height: 100%;

  .bg-logo {
  }

  iframe {
    position: relative;
    z-index: 0;
  }

  .login-form-container {
    background-color: rgba($contrasted-bg, 0.8);
    max-width: 90%;
    width: 500px;
    margin: 5vw 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 10;
    padding: 10px;
    h4{
      margin:  2vw 0;
    }
  }
}

#loginContainer {

  .tab a {
    font-size: 1.2em;
    color: $focus-color !important;

  }

  .indicator {
    background-color: $focus-color;
    height: 3px;
  }
}
#loginForm{
  padding-top: 20px;
}
#signin {
  overflow: hidden;

  .customCarousel {
    width: 300%;
    transition: left .5s ease-in;
    position: relative;
    display: flex;
  }

  .customCarousel-item {
    flex: 1;
    padding: 15px 5px 20px 10px;
  }
  .indicator-item {
    margin: 0 4px;
  }
  .input-field {
    padding: 0;
  }
  h6 {
    span {
      padding: 0px;
      font-size: 1.2em;
    }
    margin-left: 15px;
  }
}
#encryptionLoader{
  img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $blue-highlight-color;
    padding: 2px;
  }
  .flex-auto{
    padding: 10px;
  }

}
.captcha{
  svg{
    background-color: white;
  }
}
