<div class="modal-body">
    {{ form_start(form, {'attr': {
        'class': 'form-horizontal',
        'action' : path('accept_invitation' , { 'invitation_id' : invitation_id }) }})
    }}

    {{ form_rest(form) }}
    <input type="submit" value="Rejoindre le projet !" class="btn btn-success" />
    {{ form_end(form) }}
</div>