@import "{}/client/scss/variables.scss";

#checkList {

  .collection {
    border: none;
    margin-top: 5px;

    .collection-item {
      border: none;
      padding: 10px 5px;
      align-items: center;
      justify-content: center;
      line-height: 1em;
.checkDone{
  i{
    color: $plus-color;
  }
}
      i {
        color: $link-color;
        &:hover{
          color: $blue-highlight-color !important;
        }
      }
      .inputContainer {
        padding: 5px;

        textarea {
          margin: 10px;
          padding: 10px;
          background-color: $main-bg;
          border-radius: 5px;
          box-shadow: none;
          border: none;
          height: 1em;
          min-height: 0px !important;

          &::placeholder {
            color: $minus-color;
            font-style: italic;
          }
        }
      }

      .removePropositionBtn {
        padding: 5px 0px 5px 15px;
        cursor: pointer;
        i{
          color: rgba($minus-color,0.7);
        }
        &:hover {
          i {
            color: $plus-color;
          }

        }
      }
    }

    .addPropositionBtn {
      float: left;
      cursor: pointer;
      text-transform: uppercase;
      margin-top: 5px;
      position: relative;
      color: $link-color;

      i {
        color: $link-color;
        position: relative;
        top: -3px;
        margin-right: 5px;
      }

      &:hover {
        color: $plus-color;
      }
    }
  }
}
