<template name="slideMessenger">
    <div class="dark-grey" id="slide-messenger">
        <div id="slide-out-messenger" class="side-nav dark-grey " style="border-left: 3px solid #546E7A">
            <div class="row no-margin blue-grey darken-1" style="height: 60px; opacity: 1 !important;">
                <div class="col s3 relative" closeConversationPanel>
                    <a href=""
                       class="btn-floating  transparent btn-flat waves-effect waves-light absolute "
                       style="left : -15px; top : 10px" >
                        <i class="material-icons grey-text text-darken-4 ">keyboard_arrow_right</i>
                    </a>
                </div>
                <div class="col s6 valign-wrapper relative" closeCurrentConversation>
                    <h5 class=" right-align valign-wrapper relative" style="top: 7px !important;left : 0 !important">Messagerie</h5>
                </div>
                <div class="col s3 " closeCurrentConversation>
                    <a href="" class="relative" style="right: 22px; top : 5px ">
                        {{#if newMessagesCount}}
                            <span class="absolute valign-wrapper  notif-message-bubble orange {{#if pulse}} pulse{{/if}}">
                    <span class="grey-text text-darken-4 center-align relative"
                          style="font-size: 0.8em !important;">
                        {{onlyZeroToNine newMessagesCount}}
                    </span>
                </span>
                        {{/if}}
                        <img src="/images/icon/chat-dark.png" alt="chat" class="responsive-img small-margin relative">
                    </a>
                </div>


            </div>
            <div class="row no-margin relative" style="height: {{phoneHeight}}px !important;">
               <div class="relative" style="opacity: 0">d</div>
                <div class="relative" style="top: -30px !important;">
                    {{#if openedConversation}}
                        {{>conversation conversation = openedConversation}}
                    {{else}}
                        <div class="scrollbar dark-grey" style="height: {{phoneHeight}}px !important;">
                            {{>conversationList}}
                        </div>
                    {{/if}}
                </div>
            </div>


        </div>
        <div class="col s2 m1 absolute no-padding fixed"
             style="bottom: -5px !important; right : 10px !important ;z-index: 500 !important;">
            <a href="" data-activates="slide-out-messenger" class=" button-collapse-slideMessenger relative">
                {{#if newMessagesCount}}
                    <span class="absolute valign-wrapper  notif-message-bubble orange {{#if pulse}} pulse{{/if}}" style="top : -55px;">
                        <span class="grey-text text-darken-4 center-align relative"
                              style="font-size: 0.8em !important;">
                            {{onlyZeroToNine newMessagesCount}}
                        </span>
                    </span>
                {{/if}}
                <img src="/images/icon/chat.png" alt="chat" class="responsive-img">
            </a>
        </div>


    </div>
</template>