<template name="forbidden">

    <div id="loginPage" class=" gradiant center-align relative" style="padding: 1px 0;" >

        <div class="bg-logo">{{>birdsBg}}
            <img src="/images/icon/systemd-biglogo-grey.png" alt="" >
        </div>

        <div class="contrasted-bg shadow login-form-container center-align">
            <a href="/" class="brand-logo "><h4 class="hand-police center-align main-color">System-<span class="focus-color">D</span></h4></a>
            <div class="row plus-color lighter-bg" id="loginContainer" style="margin: 10px; padding: 20px">
                <h5 class="hand-police">403 - forbidden</h5>
                <p>{{__ '.noAccess'}}</p>
            </div>
            <div class="loginFooter left-align">
                <a href="/" class=" link">{{__ '.backHome'}}</a>
            </div>
        </div>





    </div>
</template>
