body{
    width: 100%;
}
/********** Footer Collé pour materialize *********/
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.menu-container{
    position: fixed !important;
    left: 0;
    top: 0;
z-index: 400;
    width: 210px !important;

}
.left-padding{
    padding-left: 30px !important;
}


#menu-container-space{
    width: 210px !important;

}
.yield-content-desktop{
    margin-left: 210px !important;
}
