@import "{}/client/scss/variables.scss";

body{
    width: 100%;
}
/********** Footer Collé pour materialize *********/
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.menu-container{
    position: fixed !important;
    left: 0;
    top: 0;
z-index: 400;
    width: 210px !important;

}
.left-padding{
    padding-left: 30px !important;
}


#menu-container-space{
    width: 210px !important;

}
.yield-content-desktop{
    margin-left: 210px !important;
}
#donateBtn{
    position: fixed;
    bottom: 90px;
    right: 0;
    display: inline-block;
    visibility: hidden;
    z-index: 6000;
    a{
        visibility: visible;
        z-index: 6000;
        position: relative;
        padding: 0 3px;
        height: 30px;
        line-height: 30px;
        right: calc(30px - 100%);
        background-color: $danger-text;
        opacity: 0.7;
        transition: 0.5s ease-out;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        i{
            font-size: 25px;
        }
        &:hover{
            right: 0;
            opacity: 1;
        }
    }


}

.infoNavigator{
    background-color: $lighter-bg;
    max-width: 400px;
    word-break: break-word;
}
