body{
    width: 100%;
}
/********** Footer Collé pour materialize *********/
.main-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main {
    flex: 1 0 auto;
}

.menu-container{
    position: fixed !important;
    left: 0;
    top: 0;
    padding:  0 20px 0 0 !important;
}
.menu-container *{
    border: none !important;
}