<template name="workInProgress">
    <div class="row">
        <div class="col s3  small-padding right-align">
            <div class="" style="max-width: 75px !important;">
                <img src="/images/icon/work_in_progress.gif" class="no-margin center-align responsive-img">
            </div>
        </div>
        <div class="col s9  small-padding">
            <h6 class="no-margin grey-text lighten-1 ">
                Cette fonctionnalité n'est pas encore acessible
            </h6>
        </div>

</div>

</template>