<template name="workInProgress">
    <div class="row ">
        <div class="col s3  small-padding right-align">
            <div class="" style="max-width: 75px !important;">
                <img src="/images/icon/work_in_progress.gif" class="no-margin center-align responsive-img">
            </div>
        </div>
        <div class="col s9  small-padding">
            <div class="" style="max-width: 400px">
                <h6 class="amber-text  text-lighten-2  ">
                    {{__ '.nofunction'}}
                </h6>
                <br>
                {{#if content}}
                    <i class="amber-text text-lighten-2">{{__ '.allow'}}</i>
                    <p class="small-text grey-text "><i>{{content}}</i></p>
                {{/if}}
                {{#if info}}
                    <i class="amber-text text-lighten-2">{{__ '.infos'}}</i>
                    <p class="small-text grey-text "><i>{{info}}</i></p>
                {{/if}}
            </div>

        </div>

</div>

</template>