@import "{}/client/scss/variables.scss";

.colorPicker {
  .colorItem {
    margin: 0 auto;
    content: " ";
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
    // border: 2px solid $main-color;
    border-radius: 5px;
    transition: 0.3s ease-out;

    &:hover {
      width: 2.6em;
      height: 2.6em;
      margin: -.3em auto;
    }

    &.selectedColor {
      border: 2px solid $plus-color;
      width: 2.6em;
      height: 2.6em;
      margin: -.3em auto !important;
    }
  }
}

.iconPicker {
  .iconItem {
.arrowContainer{
  margin: 0 auto;
  max-width: 37px;
  padding: 10px 5px 3px;
}
    i {
      color: $main-color;
      margin: 10px auto;
    }

    background-color: $lighter-bg;

    &:hover {
      background-color: transparent !important;
      border: 1px solid $main-color !important;
      .arrowContainer{
        //margin: -1 auto;
        padding: 9px 5px 2px;
      }

      i {
        margin: 9px auto;
        color: $plus-color !important;
      }
    }
  }
}

#newMarker {
  width: 100%;
  position: relative;

  h5 {
    margin: 20px 10px 0px 10px;
  }

  .sectionLabel {
    margin: 5px 10px 5px 0px;
    font-size: 1.1em;
  }


  .collapsible {
    border-color: $lighter-bg;

    * {
      border-color: $lighter-bg;
    }

    .collapsible-header {
      background-color: $main-bg;

      .material-icons {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin: -9px 14px -9px 0;
        padding-top: 7px;
        color: $plus-color;
      }
    }

    .collapsible-body {
      background-color: $lighter-bg;
      padding: 0;


    }
  }
}
.newTextZone{
  padding: 15px 10px !important;
  margin-top: -5px;
  //padding: 5px;
  width: 100%;
  form{

    label{
      color: $plus-color;
    }
  }
  #markerText{
    background-color: $plus-color;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px ;
    width: calc( 100% - 24px);
    font-size: 1em;
    font-weight: bold;
    height: auto !important;
    margin-bottom: 10px;
    box-shadow: none !important;
  }
}
