@import "{}/client/scss/variables.scss";

.colorPicker {
  .colorItem {
    margin: 0 auto;
    content: " ";
    display: block;
    position: relative;
    width: 2em;
    height: 2em;
    // border: 2px solid $main-color;
    border-radius: 5px;
    transition: 0.3s ease-out;

    &:hover {
      width: 2.6em;
      height: 2.6em;
      margin: -.3em auto;
    }

    &.selectedColor {
      border: 2px solid $plus-color;
      width: 2.6em;
      height: 2.6em;
      margin: -.3em auto !important;
    }
  }
}

.iconPicker {
  .iconItem {

    i {
      color: $main-color;
      margin: 10px auto;
    }

    background-color: $lighter-bg;

    &:hover {
      background-color: transparent !important;
      border: 1px solid $main-color !important;

      i {
        margin: 9px auto;
        color: $plus-color !important;
      }
    }
  }
}

#newMarker {
  width: 100%;
  position: relative;

  h5 {
    margin: 20px 10px 0px 10px;
  }

  .sectionLabel {
    margin: 5px 10px 5px 0px;
    font-size: 1.1em;
  }


  .collapsible {
    border-color: $lighter-bg;

    * {
      border-color: $lighter-bg;
    }

    .collapsible-header {
      background-color: $main-bg;

      .material-icons {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        margin: -9px 14px -9px 0;
        padding-top: 7px;
        color: $plus-color;
      }
    }

    .collapsible-body {
      background-color: $lighter-bg;
      padding: 0;


    }
  }
}
