<template name="projectMembers">

    <div id="projectMembers" class=" gradiant  main-color">
        <div class="container">
            <div class="row">
                <div class="col s12 m10 offset-m1 xl8 offset-xl2">
                    <ul class="collapsible popout" id="ProjectMemberCollapse" data-collapsible="expandable">
                        {{#if isAdmin currentProject._id}}
                            <li style="background: none !important; box-shadow: none !important;">
                                <div class="collapsible-header main-color transparent active">
                                    <div class="flex"><i class="material-icons ">group_add</i>{{__
                                            "projectParams.invitationList"}}</div>
                                    <div class="hr"></div>
                                </div>
                                <div class="collapsible-body">
                                    <div class="row"></div>
                                    <div class="row ">
                                        <div class="col s12 center-align"
                                             style="padding: 0 25px">
                                            <a href="/project/{{currentProject._id}}/new-invitation"
                                               class=" btn btnStandard waves-effect waves-light center-align" style="padding: 0 10px">
                                                <i class=" material-icons left">group_add</i>
                                                {{__ "projectParams.createInvitelink"}}</a>
                                        </div>
                                    </div>
                                    {{>invitationList currentProject=currentProject}}
                                </div>
                            </li>
                        {{/if}}
                        <li style="background: none !important; box-shadow: none !important;">
                            <div class="collapsible-header main-color transparent active">
                                <div class="flex"><i class="material-icons ">group</i>{{__
                                        ".membersList"}}</div>
                                <div class="hr"></div>
                            </div>
                            <div class="collapsible-body memberList">
                                <div class="row"></div>
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="flex"><i class="material-icons">verified_user</i>{{__ ".admins"}}</h6>
                                        <ul class="collection contrasted-bg">
                                            {{#each item in admins}}
                                                {{>member member=item memberIsAdmin=true currentUserIsAdmin=currentUserIsAdmin currentProject=currentProject}}
                                            {{/each}}
                                        </ul>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <h6 class="flex"><i class="material-icons">person_outline</i>{{__ ".members"}}</h6>
                                        <ul class="collection contrasted-bg">
                                            {{#each item in members}}
                                                {{>member member=item memberIsAdmin=false  currentUserIsAdmin=currentUserIsAdmin currentProject=currentProject}}
                                            {{/each}}
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
</template>
