@import "{}/client/scss/variables.scss";

.commentLoader {
  .userAvatar {
    background-color: transparent;

    .avatarPlaceholder {
      width: 30px !important;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  .username {
    width: 35%;
    height: 1em;
    margin-top: 2px;
    border-radius: 5px;
    overflow: hidden;
  }

  .commentDate {
    position: relative;

    .placeholder {
      position: relative;
      right: 0 !important;
      width: 70% !important;
      height: 0.8em;
      border-radius: 5px;
      overflow: hidden;
      margin: 5px 0 0 auto !important;
    }

  }

  .commentSmartContent {
    .placeholder {

      width: 90%;
      height: 0.8em;
      margin: 8px 0;
      border-radius: 5px;
      overflow: hidden;

      &.placeholder2 {
        width: 65%;
      }
    }
  }

}
