@import "{}/client/scss/variables.scss";
.topicItem{
background-color: $contrasted-minus-bg !important;
  border-bottom: none !important;
  transition: 0.3s;
  margin-bottom: 3px;
  border-left: 0px solid $blue-highlight-color;
  &:hover{
    border-left: 6px solid $blue-highlight-color;
    background-color: $light-bg !important;
  }
  i{
    color: $link-color;
    font-size: 18px;
  }
  .unseenItemContainer{
    margin: -5px;
    padding: 5px;
  }
}
.currentTopic{
  background:linear-gradient(to left, $blue-highlight-color 0%, $light-bg 30%, $light-bg 100%);
  padding-left: 32px !important;
  color: $plus-color !important;
  *{
    color: $plus-color !important;
  }
}
.dragged{
  background-color: $lighter-bg;
  opacity: 0.3
}
.unseenItemTopic{
  width:5px;
  height: 5px;
  border-radius: 50%;
  margin: 10px 1px;
  background-color: $danger-text;
  -webkit-box-shadow: 0px 0px 11px 3px $danger-text;
  -moz-box-shadow: 0px 0px 11px 3px $danger-text;
  box-shadow: 0px 0px 11px 3px $danger-text;
  -webkit-animation:input-shadow ease-in-out 2s infinite;
  animation:input-shadow ease-in-out 2s infinite;
}
$start : 5px;
$middle :11px;

@-webkit-keyframes input-shadow {
  0% {
    -webkit-box-shadow: 0px 0px $start 4px $danger-text;
    -moz-box-shadow: 0px 0px $start 4px $danger-text;
    box-shadow: 0px 0px $start 4px $danger-text;
  }
  50% {
    -webkit-box-shadow: 0px 0px $middle 4px $danger-text;
    -moz-box-shadow: 0px 0px $middle 4px $danger-text;
    box-shadow: 0px 0px $middle 4px $danger-text;
  }
  100% {
    -webkit-box-shadow: 0px 0px $start 4px $danger-text;
    -moz-box-shadow: 0px 0px $start 4px $danger-text;
    box-shadow: 0px 0px $start 4px $danger-text;
  }
}

@keyframes input-shadow {
  0% {
    -webkit-box-shadow: 0px 0px $start 4px $danger-text;
    -moz-box-shadow: 0px 0px $start 4px $danger-text;
    box-shadow: 0px 0px $start 4px $danger-text;
  }
  50% {
    -webkit-box-shadow: 0px 0px $middle 4px $danger-text;
    -moz-box-shadow: 0px 0px $middle 4px $danger-text;
    box-shadow: 0px 0px $middle 4px $danger-text;
  }
  100% {
    -webkit-box-shadow: 0px 0px $start 4px $danger-text;
    -moz-box-shadow: 0px 0px $start 4px $danger-text;
    box-shadow: 0px 0px $start 4px $danger-text;
  }
}
