@import "{}/client/scss/variables.scss";

#userHeader{
  nav{
    position: relative;
    height: 64px;
    width: 100%;
    .logo-site{
      img{
        width: 64px;
        padding: 5px;
        margin-left: 15px;
      }

    }
    ul{
      a:hover{
        color: $focus-color;
      }
    }
  }
  .brand-logo{
    margin: 0 20px;
    img{
      width:64px;
      height:64px;
      padding:5px;
    }
  }
}
