@import "{}/client/scss/variables.scss";

.notif-modal {
  background-color: transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: none !important;
  border-color: transparent !important;

  .modal-content {
    padding: 0 !important;
    background-color: transparent !important;

  }
}

.phone-notif-modal {
  top: 110px !important;
  width: 100% !important;
  z-index: 2100 !important;
}

.tablet-notif-modal {
  top: 110px !important;
  left: 300px !important;
  width: 300px !important;
  z-index: 1500 !important;
  margin-left: 0 !important;
}


.desktop-notif-modal {

  top: 110px !important;
  left: 210px !important;
  margin-left: 0 !important;
  width: 300px !important;
  z-index: 1500 !important;
}

.notif-box .collection-item, .notif-box .collection-item:last-child, .notif-box .collection-item:first-child {
  border: none !important;
  background-color: transparent;
  padding: 0 !important;
  margin: 5px 0 !important;
}

#notifModal {
  max-height: calc(100vh - 110px);
  padding: 0 5px;

  .notifHeader {
    background-color: $blue-highlight-color;
    padding: 3px;
    border-radius: 3px;

    h5 {
      font-size: 1.4em;
      margin: 10px 0;
    }

    a {
      background-color: $lighter-bg;

    }

    a:hover {
      background-color: $danger-color;
    }

  }

  .collection-item {
    width: 100%;
  }
}

.notif-box {
  height: calc(100vh - 110px);
  //overflow-y: hidden;
}

.notif-item {

  padding: 4px !important;
  //border-radius: 3px;
  background: linear-gradient(to right, $blue-highlight-color 0%, $main-bg 15%, $main-bg 100%);
  //background-color: $lighter-bg!important;
  //border: 2px solid $blue-highlight-color;
  .material-icons {
    color: $plus-color !important;
  }

  .small-info {
    font-size: 0.9em;
  }

  &:hover {
    .main-color {
      color: $plus-color !important;
    }


  }
}


