#search-btn{
    width: 35px;
    height: 35px;
}

#static-group{
    position: fixed ;
    top:5px;
    left: 5px;
    z-index: 2000 !important;
}

#slide-out{
    z-index: 2100 !important;
}
.margintop{
    margin: 0!important;
}