<template name="slideMenu">
    <header class="transparent" id="slider-menu">
        <nav class="transparent">
            <div class="nav-wrapper">

                    <ul id="slide-out" class="side-nav">
                        <li class="active red accent-2"><a href="#" class="white-text">Accueil</a></li>
                        <li><a href="#" class="white-text">A Propos</a></li>
                        <li><a href="#" class="white-text">Service</a></li>
                        <li><a href="#" class="white-text">Portfolio</a></li>
                        <li><a href="#"><i class="material-icons white-text">mail_outline</i></a></li>
                    </ul>
                    <div class="static-group row valign-wrapper">
                        <div class="col s2 m1 no-padding">
                            <a href="#" data-activates="slide-out" class="button-collapse small-margin">
                                <img src="/images/icon/hub_logo.png" alt="HUB" class="responsive-img ">
                            </a>
                        </div>
                        <form class="col s10 m4 search">
                            <div class="input-field">

                                <i class="material-icons circle prefix red darken-4 center-align  circle waves-effect waves-light " id="search-btn" >search</i>

                                <input id="icon_prefix" type="text" class="validate" placeholder="Rechercher">
                            </div>
                        </form>
                    </div>
                </div>
        </nav>
    </header>
</template>