@import "{}/client/scss/variables.scss";

#projectsList {
  padding: 0 5px;
  border: none;
  box-shadow: none;

  li {

    border-bottom: 1px solid $contrasted-bg;

    .collapsible-header {
      padding: 12px 5px;

      .project-avatar {
        width: 45px;
        height: 45px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid $blue-highlight-color;
      }

      .projectTitle {
        padding: 10px 0 10px 5px;
        font-size: 1.05em;
        color: $info-color;
        transition: 0.4s ease-out;
      }

      &:hover {
        background-color: $main-bg !important;
        margin-right: -5px;
        padding-right: 15px;

        .projectTitle {
          color: $main-color !important;
        }
      }

      border: none
    }

    .collapsible-body {
      border: none;
      padding: 0px;

      .collection {
        border-radius: 0;
        padding-left: 0px;

        .collection-item {
          border-left: 5px solid $focus-color;
          padding: 8px 15px;
          border-bottom: none;
          color: $link-color !important;
          transition: 0.4s ease-out;
          font-size: .95em;
          .material-icons {
            font-size: 1.4em;
            color: $link-color !important;
          }

          &:hover {
            background-color: $light-bg !important;
            color: $plus-color !important;
            border-left: 15px solid $focus-color;

            .material-icons {
              color: $plus-color !important;
            }
          }
        }

        .active {
          background: linear-gradient(to right, $focus-color 0%, rgba($light-bg, 0.65) 10%, rgba($light-bg, 0.65) 100%);
          color: $plus-color !important;
          border-left: 10px solid $focus-color;
          padding-left: 20px;

          .material-icons {
            color: $plus-color !important;
          }
        }
      }
    }
  }

  .menuProjectItem {
    &.active {
      margin: 0;

      .collapsible-header {
        border-left: 5px solid $focus-color !important;
        background: linear-gradient(to right, $focus-color 0%, rgba($main-bg, 0.65) 30%, rgba($main-bg, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-color: rgba($main-bg, 0.65) !important;
        margin-right: -5px;
        margin-left: -5px;

        * {
          color: $plus-color;
        }

      }

      .collapsible-body {
        margin-right: -5px;
        margin-left: -5px;


        background-color: rgba($main-bg, 0.65) !important;
      }
    }
  }
}
