@import "{}/client/scss/variables.scss";

$menuFocusColor: $blue-highlight-color;
#projectsList {
  margin-top: -5px;
  padding: 0 5px;
  border: none;
  box-shadow: none;

  li {

    border-bottom: 1px solid $contrasted-bg;

    .collapsible-header {
      padding: 12px 5px 7px 5px;
      transition: background-color 0.3s;
      position: relative;
      border-left: 0px solid $menuFocusColor;

      .project-avatar {
        width: 55px;
        height: 55px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid $blue-highlight-color;
      }

      .projectTitle {
        padding-left: 0.6em;

        font-size: 1.05em;
        color: $info-color;
        transition: 0.3s;
      }

      .notifCount {
        color: $minus-color !important;
        background-color: $danger-color;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        padding-top: 8px ;
        text-align: center;
        font-size: 17px;
        line-height: 15px;
        margin-right: 5px;
        top:2px;
        left: 35px;
        //border: 2px solid $link-color;
      }
      .notifCount:hover{
        color: $plus-color !important;
        -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      }

      &:hover {
        margin-left: -5px;
        border-left: 5px solid $menuFocusColor;
        background-color: $main-bg !important;
        //margin-right: -5px;
        padding-right: 5px;

        .projectTitle {
          color: $main-color !important;
        }
      }

      border: none
    }

    .collapsible-body {
      border: none;
      padding: 0px;

      .collection {
        border-radius: 0;
        padding-left: 0px;

        .collection-item {
          border-left: 5px solid $menuFocusColor;
          padding: 8px 15px;
          border-bottom: none;
          color: $link-color !important;
          transition: 0.4s ease-out;
          font-size: .95em;

          .material-icons {
            font-size: 1.4em;
            color: $link-color !important;
          }

          .notifCountSection {
            color: $minus-color;
            background-color: $danger-color;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 7px 8px ;

            font-size: 12px;
            font-weight: bold;
            line-height: 12px;
            right: 12px;
            //border: 2px solid $link-color;
          }
          .notifCountSection:hover{
            color: $plus-color;
            -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          }

          &:hover {
            background-color: $light-bg !important;
            color: $plus-color !important;
            border-left: 15px solid $menuFocusColor;

            .material-icons {
              color: $plus-color !important;
            }
          }
        }

        .active {
          background: linear-gradient(to right, $menuFocusColor 0%, rgba($light-bg, 0.65) 20%, rgba($light-bg, 0.65) 100%);
          color: $plus-color !important;
          border-left: 10px solid $menuFocusColor;
          padding-left: 20px;

          .material-icons {
            color: $plus-color !important;
          }
        }
      }
    }
  }

  .menuProjectItem {
    &.active {
      margin: 0;

      .collapsible-header {
        border-left: 5px solid $menuFocusColor !important;
        background: linear-gradient(to right, $menuFocusColor 0%, rgba($main-bg, 0.65) 20%, rgba($main-bg, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background-color: rgba($main-bg, 0.65) !important;
        margin-right: -5px;
        margin-left: -5px;

        * {
          color: $plus-color;
        }

        .notifCount {
          display: none;
        }
      }

      .collapsible-body {
        margin-right: -5px;
        margin-left: -5px;


        background-color: rgba($main-bg, 0.65) !important;
      }
    }
  }
}
