<template name="signinContainer">
    <div class="customCarousel " data-indicators="true" style="left:{{left}}">
        <div class="customCarousel-item  main-color signinInfo" href="#one!">
            <div class="row">
                <div class="col s12 ">
                    <p>System-D accompagne vos projets en vous offrant un espace de travail collaboratif gratuit et entièrement
                        <b><a href="https://fr.wikipedia.org/wiki/Chiffrement_de_bout_en_bout">chiffrée de bout en bout</a></b>. </p>
                    <p class="infoQuotes">Comme sur Telegram ou Signal, personne d'autre que vous et les personnes participant au même projet pourront déchiffrer et lire les contenus que vous postez, pas même les créateurs de cette plate-forme.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <a id="btn" class="btn-flat btnStandard right-align waves-effect waves-light shadow" next><i class="material-icons right">arrow_forward</i>Suivant</a>
                </div>
            </div>
        </div>
        <div class="customCarousel-item  main-color signinInfo" href="two">
            <div class="row">
                <div class="col s12 ">
                    <p>D'autre part <b>System-D preserve l'Anonymat</b> de ses utilisateurs : pas d'adresse mail requise ni d'informations personnelles. Cependant nous n'auront <b>aucun moyen de Vous aider si vous oubliez votre mot de passe</b></p>
                    <p >Ainsi, il est recommandé de :</p>

                    <h6 class="infoQuotes plus-color"><span>NOTER LE MOT DE PASSE CHOISI</span>
                    </h6>



                </div>
            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <a class="btn btnStandard right-align waves-effect waves-light shadow" next><i class="material-icons right">arrow_forward</i>Suivant</a>
                </div>
            </div>
        </div>
        <div class="customCarousel-item main-color" href="#three!">
            {{>signinForm}}
        </div>
    </div>
</template>
