
<!DOCTYPE html>
<!-- {% include "./template/logo_ascii.html.twig" %}-->
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HUmanBeing{% endblock %}</title>
        {% stylesheets
            'css/base.css'
            'css/header.css'
            'css/general_menu.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "./template/header.html.twig" %}
        {% include "./template/general_menu.html.twig" %}
        <main>
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
            {% javascripts
                'js/framework/jquery-3.2.1.min.js'
                'js/framework/jquery-ui.min.js'
                'js/header.js'
                'js/general_menu.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
