<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}HUmanBeing{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/header.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include "./template/header.html.twig" %}
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{ asset('js/header.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
