<template name="orgProject">
    <div class="col s12 xl8 offset-xl2 no-padding" style="margin-top: -20px !important;">
        <div class="row">
            <div class="col s12 no-padding">
                <div class="row">
                    <div class="col s12  darken-4 no-padding">
                        <ul class="tabs swipable grey darken-4">

                            <li class="tab col s4">
                                <a href="#forum" switchTab>Forum</a>
                            </li>
                            <li class="tab col s4"><a href="#agenda" switchTab>Agenda</a></li>
                            <li class="tab col s4 "><a href="#todo" switchTab>Liste de taches</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div id="forum" class="col s12 no-padding">{{#if eq currentTab "forum"}}
                {{>workInProgress content = "aux utilisateurs du projet de pouvoir discuter et d'organiser ces discussions en differents topics (discussions chiffrée)"
                info = "Un forum thématique permetra aux membre des projets de créer de nouvelles discussions thématiques, et meme, dans l'idéal, d'offrir un 'pad' ou une feuille de calcul en édition partagée"}}{{/if}}
            </div>
            <div id="agenda" class="col s12 no-padding">{{#if eq currentTab "agenda"}}
                {{>workInProgress content = "aux utilisateurs du projet de visualiser l'agenda du projet et touts les evenements et temps d'activité, il offrira a l'utilisateur la possibilité de pouvoir s'inscrire sur ces dates, et de voir son agenda personnel synchronisé avec ceux des projets par taches ou il s'est inscrit (chiffré)"}}{{/if}}</div>
            <div id="todo" class="col s12 no-padding">{{#if eq currentTab "todo"}}
                {{>workInProgress content = "permetra la création de nouvelles taches, leur tri, leur suivi, et leurs assignation aux membres du projet (chiffré)"
                info = "chacune des taches pourra offrir la fonctionnalité de  générer un équivalent de framadate afin que les utilisateurs puissent s'en servir pour caler une réunion, un temps de travail particulier. Lorsque les taches seront calées dans le temps, elles figureront dans l'agenda du projet ainsi que dans les agenda perso des utilisateurs"}}{{/if}}</div>
        </div>
    </div>
</template>