<template name="selfCalendar">
    <div class="row no-margin" id="userMainPage">
        <div class="col s12 no-padding">
            {{>agendaMenu}}
        </div>
        <div class="col s12 xl8 offset-xl2">
            <div class="row">
                <div class="col m8 offset-m2">
            {{>workInProgress content="à l'utilisateur de visualiser son agenda personnel tel qu'il aura été rempli par les differentes taches des projets sur lesquelles il s'est engagé, mais aussi avec des taches qui ne seront propres qu'a lui seul"
            info="l'agenda permettra aisi à l'utilisateur de s'investir dans differents projets aux emplois du temps asynchrones"}}
                </div>
            </div>
        </div>
    </div>
</template>