@import "{}/client/scss/variables.scss";

.dropFile {
  background-image: url("/images/trame/upload.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px 200px;
  background-color: rgba($lighter-bg, 0.7);
  border: 2px dotted $minus-color;;

  .topicSubContainer {
    opacity: 0.3;
  }


}

.mouseSelection {
  border: 2px dotted $minus-color;
  position: fixed;
  content: " ";
  z-index: 200000;

}

.cloudPage {

  * {
    user-select: none;
  }

  input {
    user-select: auto !important;
  }

  .ui-selected {
    .selectionContainer {
      background: rgba($blue-highlight-color, 0.5) !important;
      background-origin: padding-box !important;

    }

  }

  .cuted {
    .selectionContainer {
      background-color: $lighter-bg;
      border: 2px dotted $main-color;
      margin: -2px;
      background-origin: padding-box !important;
      opacity: 0.7;
    }
  }

  .cloudItem {
    .selectionContainer {
      padding: 10px 25px !important;
    }

    .fileIcon {
      padding: 10px 0 !important;

      img, span {
        cursor: pointer;
      }

      .centerPoint {
        content: " ";
        position: absolute;
        width: 1px;
        height: 1px;
        top: 50%;
        left: 50%;
        background-color: transparent;
      }

    }

    .actionBtns {
      opacity: 0;
      transition: 0.8s ease-out;
      position: absolute;
      top: -15px;
      right: 10px;
      width: 100px;
      z-index: 200;

      a {
        z-index: 200;
        background-color: $contrasted-minus-bg !important;
        position: relative !important;
        display: inline-block;
      }
    }

    &:hover {
      .actionBtns {
        right: 0px;
        opacity: 1 !important;
      }
    }
  }

  .actionBtnsMobile {
    top: -10px !important;
    right: 10px !important;
    opacity: 1 !important;
  }

  .contextMenuBtn {

  }

  .contextMenuContainer {
    position: fixed;
    z-index: 40001;
    background-color: $lighter-bg !important;
    border: none !important;

    ul {
      margin: 0px !important;
      border: none !important;

      .hr {
        margin: -3px 0 !important;
      }

      li {
        line-height: 1em;
        text-align: left;
        background-color: $lighter-bg !important;
        border: none !important;
        font-size: 0.9em;
        cursor: pointer;
        line-height: 1.5em;
        padding: 5px 15px;

        span {
          position: relative;
          top: -5px;
          margin-right: 15px;
        }

        i {
          margin-right: 15px;
          line-height: 1.5em;
          font-size: 1.5em;
        }

        &:hover {
          background-color: $light-bg !important;

          * {
            color: $plus-color !important;
          }

        }
      }
    }
  }

  .closeContextMenu, .closeEditMenu, .closeConfirmDelete {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 40000;
  }

  .closeConfirmDelete {
    background-color: $contrasted-bg;
    opacity: 0.5;
  }


  .topicTitle {
    .droppableFolder {

      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba($light-bg, 1) 30%, rgba($light-bg, 1) 100%) !important;

    }

    a {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba($contrasted-plus-bg, 1) 30%, rgba($contrasted-plus-bg, 1) 100%);
      border-bottom-right-radius: 18px;
      border-top-right-radius: 18px;
      padding: 0 15px 0 20px;
      margin-left: -20px;
      text-align: center;
      max-width: 200px;
      display: inline-block;
      border-right: 2px solid $blue-highlight-color;
      transition: 0.4s ease-out;

      &:hover {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba($blue-highlight-color, 1) 30%, rgba($blue-highlight-color, 1) 100%);
        color: $plus-color;
        border-right: 2px solid $plus-color;
      }
    }

    .currentFolder {
      color: $plus-color !important;

    }
  }

  .fixed-action-btn {
    //  right: 35px;
    bottom: 150px;

    .btn {
      width: 60px;
      height: 60px;
      background-color: $danger-text;

      i {
        line-height: 60px;
        font-size: 37px;
      }

      &:hover {
        i {
          color: $plus-color
        }
      }
    }

    .newCloudItem {
      width: 40px;
      height: 40px;
      background-color: $blue-highlight-color;

      i {
        line-height: 40px;
        font-size: 23px;
      }

      &:hover {
        background-color: $danger-text;

        i {
          color: $plus-color
        }
      }
    }
  }

  #newFolderForm {
    z-index: 40001;

    * {
      z-index: 40001;
    }

    input {
      border: none !important;
      border-bottom: none !important;
      margin-bottom: 0px !important;
      height: 12px;
      font-size: 0.9em;
      padding: 5px 15px 0px 0px;
      margin-left: 15px;

      &::placeholder {
        color: $minus-color;
        font-style: italic;
      }
    }

    button {
      right: -25px;
      bottom: -20px;
      background-color: $blue-highlight-color;

      &:hover {
        i {
          color: $plus-color !important;
        }
      }
    }
  }

  .newFolder {
    background-color: $contrasted-bg;
    //margin: -10px 0px -10px 0px;
    //padding: 10px 0px 20px 0px;


  }

  .filesContainer {
    padding-bottom: 800px;

    .droppableFolder {
      border: 2px solid $minus-color;
      margin: -2px;
      background: $light-bg;

    }
  }

  .filesSize {
    padding: 10px 0;

    .volumeInfo {
      margin: 3px;
      font-size: 0.9em;
      left: 66px;
      top: -10px;
    }

    .percentage {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
      background-color: $contrasted-plus-bg;
      color: $link-color;
      font-style: italic;
      font-weight: bold;
    }

    .filesSizeContainer {
      margin-left: 6px;
      margin-top: 9px;
      height: 19px;
      border-radius: 9.5px;
      background-color: $contrasted-plus-bg;
      border: 2px solid $contrasted-plus-bg;
      position: relative;
    }

    .totalFileSize {
      content: ' ';
      background-color: $blue-highlight-color;
      height: 15px;
      border-radius: 7.5px;
      font-size: 13px;
      line-height: 15px;
      min-width: 15px !important;
      color: $contrasted-plus-bg;
      padding-left: 15px;

    }
  }
}
