
security:
    providers:
          main:
              entity:
                  class:    UserBundle\Entity\User
                  property: username

    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        UserBundle\Entity\User: plaintext

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
         dev:
             pattern: ^/(_(profiler|wdt)|css|images|js)/
             security: false

         main:
             pattern:   ^/
             anonymous: true
             provider:  main
             form_login:
                 login_path: login
                 check_path: login_check
             logout:
                 path:       logout
                 target:     login

    role_hierarchy :
