@import "{}/client/scss/variables.scss";

.pinCodeBg{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba($contrasted-bg,0.95);
  //opacity: 0.95;
  z-index: 9999;
}
.pinCodeModal {
  border-radius: 30px;
  position: fixed !important;
  width: 450px;
  max-width: 90%;
  left: 0;
  right: 0;
  top: 0;
  max-height: 80vh;
  z-index: 10000;
  margin: 10vh auto;
  background-color: $main-bg;
  padding: 10px;
  color: $main-color;
  h5{
    //color: $plus-color;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 20px;
    img{
      margin-bottom: 20px;
      font-size: 2em !important;
      max-width: 25%;
    }
  }
  .pinContainer{
    background-color: transparent !important;
    border: 2px solid $blue-highlight-color !important;

  }
  .key{
    border: 2px solid $blue-highlight-color;
    color: $blue-highlight-color !important;
  }
  .pinError{
    margin-top: -20px;
    i{
      position: relative;
      display: inline-block;
      top:7px;
    }
  }
  .btnFocus{
    background-color: $blue-highlight-color !important;
    color: $plus-color !important;
  }
  .pinContainer{
    i{
      right:-35px !important;
      top:10px !important;
    }
  }
}
