<template name="askForPinCode">
    {{#if show}}
        <div class="pinCodeBg bird-background">

        </div>
        <div class="pinCodeModal bird-background gradiant">
            {{#unless blockedUntil}}
                <h5 class="center-align "><img src="/images/icon/systemd-logo-white.png" alt="" class="responsive-img  "><br>{{__ ".enterPinCode"}}
                </h5>
                <div class="row">
                    <div class="col s12">
                        {{>virtualKeyboard parentInstance = parentInstance pinCode=pinCode}}
                    </div>
                </div>
                {{#if compare leftTentatives "<" 3}}
                    <div class="row">
                        <div class="col s12 center-align pinError">
                            <i class="material-icons danger-color">highlight_off</i>
                            {{__ ".leftTentatives"}} <b>{{ leftTentatives}}</b>
                        </div>
                    </div>
                {{/if}}
            {{else}}
                <h5 class="center-align danger-color"><i class="material-icons danger-color">highlight_off</i><br>{{__
                        ".accountBlocked"}}</h5>
                <div class="row">
                    <div class="col s12">
                        <p class="infoQuotes">
                            {{__ ".retryIn"}} {{formatDate blockedUntil}}
                        </p>
                    </div>
                </div>
            {{/unless}}
            <div class="row ">
                <div class="col s6"><a href="" class="btn btn-flat full-width waves-effect waves-light main-color"
                                       logout>{{__
                        ".logout"}}</a></div>
                {{#if compare pinCode.length "==" 4 }}
                    <div class="col s6"><a href="" class="btn btnFocus full-width waves-effect waves-light main-color"
                                           validate>{{__
                            ".validate"}}</a></div>

                {{/if}}
            </div>
        </div>
    {{/if}}
</template>
