<template name="home">
    <div class="row">
        <div class="col s12 no-padding">
            <div class="row dark-grey ">
                <div class="col s12 row  no-margin contextual-menu-title valign-wrapper">
                    {{#unless isDesktop}}
                        <div class="col s2 m2 no-padding contextual-menu-margin"></div>
                        <div class="col s10 m10  miniature">
                            <h6 class="center-align ">
                                Le pari d’une humanité de la collaboration et du partage
                            </h6>
                        </div>
                    {{else}}
                        <div class="col s9 offset-s1">
                            <h5 class="center-align hand-police">
                                Le pari d’une humanité de la collaboration et du partage
                            </h5>
                        </div>
                        <div class="col s1 relative">
                            {{#if isAllowed}}
                                {{>fixturesAndTests}}
                            {{/if}}
                        </div>
                    {{/unless}}
                </div>
            </div>
            <div class="row">
                <div class="col s12 xl8 offset-xl2">
                    <div class="row">
                        <div class="col s12 m3">
                            <div class="row">
                                <div class="col s12 no-padding">
                                    <div class="card trame-box ">
                                        <div class="card-content">
                                            <span class="card-title">Contacter l'équipe</span>
                                            <div class="formattedText row">
                                                <p class="center-align"><b>par mail</b></p>
                                                <p><a href="mailto:ontact@hub-humanbeing.com">contact@hub-humanbeing.com</a></p>
                                                <br>
                                                <p class="center-align"><b>github</b></p>
                                                <p><a href="https://github.com/HUB-HUmanBeing/HUmanBeing">https://github.com/HUB-HUmanBeing/HUmanBeing</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 no-padding">
                                    <div class="card trame-box ">
                                        <div class="card-content">
                                            <span class="card-title">Contribuer au projet HUmanBeing</span>
                                            {{>workInProgress}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#unless isPhone}}
                                <div class="row ">
                                    <div class="col s12 no-padding">
                                        <div class="card trame-box">
                                            <div class="card-content">
                                                <span class="card-title">Dernières Annonces</span>
                                                {{>homeAdvertList}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/unless}}
                        </div>

                        <div class="col s12 m9 no-padding">
                            {{#unless currentUserId}}
                                <div class="row">
                                    <div class="col s12 ">
                                        <div class="card trame-box ">
                                            <div class="card-image">
                                                <img src="images/aquarelle-hub.jpg">

                                            </div>
                                            <div class="card-content">
                                                <span class="card-title">HUmanBeing</span>
                                                <h5>Plate forme web de projets collaboratifs non marchands et de partage
                                                    à
                                                    modération horizontale</h5>
                                                <p>Jusqu'ici, les projets collaboratifs ainsi que les pratiques de
                                                    partages
                                                    et de gratuité ont été limités par l'étroitesse de nos réseaux
                                                    relationnels. Cette plate-forme web met en lien une communauté
                                                    mondiale
                                                    d'utilisateurs sur la base de leurs compétences et de leurs envies à
                                                    travers la possibilité de collaborer à des projets proposés par
                                                    chacun
                                                    d'eux. Elle offre aussi un support organisationnel et un système
                                                    permettant le partage des ressources de chacun, ainsi que le partage
                                                    de
                                                    celles produites par les projets, le tout modéré horizontalement par
                                                    la
                                                    communauté d'utilisateurs.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {{/unless}}
                            <div class="row ">
                                <div class="col s12 ">
                                    <div class="card trame-box">
                                        <div class="card-content">
                                            <span class="card-title">Dernier Articles</span>
                                            {{>homePostList}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>welcomeAlphaModal}}
</template>