@import "{}/client/scss/variables.scss";
//@import "{}/client/scss/pluginsLib/leaflet.css";
@keyframes highlight {
  0% {
    box-shadow: 0 0 0 0 rgba(white, 1);
  }

  50% {
    box-shadow: 0 0 0 15px rgba(white, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(white, 0);
  }
}

#projectMaps {
  width: 100%;
  position: relative;

  &.desktopProjectMaps {
    height: 100vh;
  }

  &.mobileProjectMaps {
    height: calc(100vh - 121px);
  }

  &.tabletProjectMaps {
    height: calc(100vh - 129px);
  }

  #mapContainer {
    overflow: hidden;
    height: 100%;
    position: relative;

    &.creatingIcon, &.creatingPolyline, &.creatingShape, &.creatingArrow {
      #map {
        cursor: crosshair;
      }
    }
    .leaflet-control-container{
      .leaflet-draw{
        display: none;
      }
    }

    .markerIcon {
      &.activityIcon {
        .icon{border-radius: 5px;
        }
        .arrow-down {
          bottom: -6px;
        }
      }
      .icon {
        width: 34px;
        height: 34px;
        padding: 3px 0 0 3px;
        border-radius: 50%;
        border: 2px solid; //$plus-color;
        background-color: $plus-color
      }

      .arrow-down {
        z-index: 103;
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 12px;
        bottom: -5px;
      }

      &.highLighted {
        z-index: 105;

        .icon {
          animation: highlight 1.5s infinite;
        }

      }

    }
    .markerText {
      a{

        width: 100px !important;
        display: block;
        padding: 1px 3px;
        border-radius: 5px;
        border: 2px solid; //$plus-color;
        background-color: $plus-color;
        position:absolute;
        bottom: 5px;
        left: -46px;

      }

      .arrow-down {
        z-index: 103;
        width: 0px;
        height: 0px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        position: absolute;
        left: 0px;
        bottom: -3px;
      }

      &.highLighted {
        z-index: 105;

        .icon {
          animation: highlight 1.5s infinite;
        }

      }

    }

    #newIconMarker {
      position: fixed;
      top: 0px;
      right: 0px;
      z-index: 102;

    }

    .closeSideNav {
      content: " ";
      top: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
    }

    .btn-floating {
      i {
        color: $plus-color;
      }
    }

    .addBtn {
      background-color: $danger-text;
      position: absolute;
      //bottom: calc(5em - 28px);
      right: 9px;
      margin-top: 5px;
      margin-right: -14px;
      z-index: 600;

      i {
        font-size: 2.6em;
      }
    }

      .searchBtn {
        position: absolute;
        //bottom: calc(5em - 28px);
        right: 9px;
        margin-top: 5px;
        margin-right: -14px;
        z-index: 600;

        i {
          font-size: 2.4em;
        }
    }

    #mapButtons {
      position: absolute;
      top: 5px;
      right: 10px;
      z-index: 500;
      margin: 0;

      .chatBtn {
        background-color: $blue-highlight-color;
      }

      .settingsBtn {
        background-color: $contrasted-plus-bg;
      }

      li {
        margin-top: 5px !important;

        a {
          position: relative;
          z-index: 400;
        }
      }

    }

    #map {
      width: 100%;
      height: 100%;
      background-color: $main-color;
      z-index: 100;

      .leaflet-marker-icon {
        border: none;
        width: 0 !important;
        height: 0 !important;

        .markerIcon {
          position: absolute;
          bottom: 0px;
          left: -11px;

          .icon {
            width: 34px;
            height: 34px;
            padding: 3px 0 0 3px;

          }

          .memberPin {
            position: relative;
            bottom: 2px;
            left: -1px;
            width: 36px;
            height: 36px;
            overflow: hidden;
            border: 2px solid;
            border-radius: 50%;

            svg {
              height: 32px !important;
              width: 32px !important;
              //margin-top: 2px;
              //border-color: $blue-highlight-color;
              border-radius: 50%;
            }

          }

          .arrow-down {
            z-index: 101;
            width: 0px;
            height: 0px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
          }
        }
      }

      .leaflet-control-minimap {
        z-index: 102;
        -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.15);
        bottom: 0 !important;
        left: 0 !important;
        margin: 16px 15px !important;
        border-radius: 10px;
        filter: brightness(95%);
        border: 2px solid $lighter-bg;
      }

      .leaflet-control-scale {
        z-index: 102;
        position: absolute;
        top: -5px;
        left: 10px;
        height: 5px;
        border-left: 2px solid $lighter-bg;
        border-bottom: 2px solid $lighter-bg;
        border-right: 2px solid $lighter-bg;

        .leaflet-control-scale-line {
          position: relative;
          bottom: 12px;
          background-color: transparent;
          border: none;
          color: $lighter-bg;
          font-size: 13px;
          font-weight: bold;
        }
      }
      .leaflet-control-zoom-out, .leaflet-control-zoom-in, .leaflet-browser-print {
        color: $plus-color !important;
        z-index: 102;
        border-radius: 5px;
        background-color: $main-bg;
        -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.15);
        box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.15);
      }
      .leaflet-control-browser-print{
        border: none !important;
        margin-top: 10px !important;
      }
      .leaflet-control-browser-print a {
        border-radius: 4px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: $main-bg;
        background-image: url(images/icon/print.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer; }
    .leaflet-control-zoom {
      border: none;

      .leaflet-control-zoom-in {
        margin-bottom: 2px;
        z-index: 102;
      }


    }

    .leaflet-control-geocoder {
        border-radius: 5px;
        background-color: $main-bg;
        min-width: 30px;
        min-height: 30px;
        border: none !important;
      }

      .leaflet-touch .leaflet-control-geocoder {
        min-width: 30px;
        min-height: 30px;
      }

      .leaflet-control-geocoder a,
      .leaflet-control-geocoder .leaflet-control-geocoder-icon {
        border-bottom: none;
        display: inline-block;
      }

      .leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
        width: inherit;
        height: inherit;
        line-height: inherit;
      }

      .leaflet-control-geocoder a:hover,
      .leaflet-control-geocoder .leaflet-control-geocoder-icon:hover {
        border-bottom: none;
        display: inline-block;
      }

      .leaflet-control-geocoder-form {
        display: none;
        vertical-align: middle;
        background-color: $main-bg;
        color: white;
        margin-right: 10px;
      }
      .leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
        display: inline-block;
      }
      .leaflet-control-geocoder-form input {
        font-size: 120%;
        border: 0;
        background-color: $main-bg;
        width: 220px;
      }

      .leaflet-control-geocoder-icon {
        border-radius: 4px;
        width: 30px;
        height: 30px;
        border: none;
        background-color: $main-bg;
        background-image: url(images/icon/geocoder_search.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      .leaflet-touch .leaflet-control-geocoder-icon {
        width: 35px;
        height: 35px;
      }

      .leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
        background-image: url(images/icon/geocoder_throbber.gif);
      }

      .leaflet-control-geocoder-form-no-error {
        display: none;
        background-color: $main-bg;
        color: white !important;
      }

      .leaflet-control-geocoder-form input:focus {
        outline: none;
        background-color: $main-bg;
      }

      .leaflet-control-geocoder-form button {
        display: none;
        background-color: $main-bg;
      }
      .leaflet-control-geocoder-error {
        margin-top: 8px;
        margin-left: 8px;
        display: block;
        color: #444;
      }
      .leaflet-control-geocoder-alternatives {
        display: block;
        width: 272px;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: $main-bg;
      }

      .leaflet-control-geocoder-alternatives-minimized {
        display: none;
        height: 0;
      }
      .leaflet-control-geocoder-alternatives li {
        white-space: nowrap;
        display: block;
        overflow: hidden;
        padding: 5px 8px;
        text-overflow: ellipsis;
        border-bottom: 1px solid $main-bg;
        cursor: pointer;
      }

      .leaflet-control-geocoder-alternatives li a,
      .leaflet-control-geocoder-alternatives li a:hover {
        width: inherit;
        height: inherit;
        line-height: inherit;
        background: inherit;
        border-radius: inherit;
        text-align: left;
        color: white;
      }

      .leaflet-control-geocoder-alternatives li:last-child {
        border-bottom: none;
      }
      .leaflet-control-geocoder-alternatives li:hover,
      .leaflet-control-geocoder-selected {
        background-color: $light-bg;
      }
      .leaflet-control-geocoder-address-detail {
      }
      .leaflet-control-geocoder-address-context {
        color: #ccc;
      }
      .leaflet-popup-content-wrapper,.leaflet-popup-tip{
        background-color: $main-bg;
        color: $main-color;
      }

    }

    #mapFooter {
      color: $main-color;
      position: absolute;
      background-color: $main-bg;

      bottom: -300px;
      width: 100%;
      transition: 0.3s ease-out;
      z-index: 200;

      &.footerOpened {
        bottom: 0;
      }
    }
  }


  #mapSideNav {
    height: 100%;
    color: $main-color;
    z-index: 600;


    &.desktopMapSideNav {
      width: 30%;
      min-width: 300px;
      max-width: 400px;
      //position: relative;
      #sideMapContent{
        overflow-x: hidden !important;
      }


    }

    &.mobileMapSideNav, &.tabletMapSideNav {
      top: 0;
      position: absolute;
      transition: 0.3s ease-out;

    }

    &.mobileMapSideNav {
      width: calc(100vw - 70px);
      right: calc(-100vw + 70px);

      &.openedSideNav {
        right: 0;
      }
    }

    &.tabletMapSideNav {
      width: 300px;
      right: -300px;

      &.openedSideNav {
        right: 0;

        #sideMapContent {
          overflow: scroll;
        }
      }
    }

    #sideMapContent {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      padding-bottom: 50px;
    }


  }
}
