/************************
    header du menu latéral
 **********************/
.aside-header{
    padding: 10px;
}

.aside-header .menu-button{
width: 100%;
    padding: 0;
}
.aside-header .menu-button img{
    width: 100%;
}

/************************
    outil de recherche
************************/
.search-form{
    display: flex;
}
.search-form button{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: none;
    margin-right: 5px;
}
.search-form button span{
    position: relative;
    top: 2px;
    right: 2px;

}
.search-form input{
    flex : 1;
    height: 25px;
    border-radius: 10px;
    display: none;
}