<template name="asideHeader">
    <header class="row aside-header">
        <div class="col-md-6" >
            <a class="navbar-brand col-xs-6 menu-button" href="{{ pathFor 'home'}}" >
                <img class=" center-block" src="images/icon/hub_icon.png" alt="hub logo">
            </a>
        </div>
        <div class="col-md-6 search-form row">
            <button class="red-hub-background search-btn"><span class="glyphicon glyphicon-search light-grey-police" id="search-button"></span></button>
            <input type="text" name="search" id="search-field" placeholder="Rechercher" class="input-sm">
            </div>
    </header>
</template>