@import "{}/client/scss/variables.scss";


#landingRoadmap {
  .container {
    padding: calc(50vh - 210px) 0;
    ul{
      margin: 5px;
      padding: 15px;

      background-color: $contrasted-bg;
      h5{
        color: $focus-color;
      }
    }
    li{
      margin-top: 10px;
      position: relative;
      left:0;
      transition: left 0.3s ease-in-out;
      padding-left: 10px;

      border-left: 3px solid $focus-color;
    }
    li:hover{
      left: 10px;
    }
  }
}
