@import "{}/client/scss/variables.scss";


#landingRoadmap {
  .container {
    padding: calc(50vh - 210px) 0;
    ul{
      margin: 5px 5px 40px 5px;
      padding: 15px;
      transition: box-shadow .5s, background-color .5s, margin .5s, padding .5s;
      background-color: $light-bg;


      h5{
        color: $focus-color;
      }
    }
    ul:hover{
      background-color: $lighter-bg;
      padding: 20px;
      margin: 0px;
      box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    }
    li{
      margin-top: 10px;
      position: relative;
      left:0;
      transition: left 0.5s ease-in-out, border-left 0.5s;
      padding-left: 10px;
      color: $minus-color;
      border-left: 3px solid $blue-highlight-color;
      &.highlighted{
        border-left: 10px solid $focus-color !important;
        color: $plus-color !important;
      }
    }
    li:hover{
      border-left: 10px solid $focus-color;
      color: $plus-color;
    }
  }
}
