<div class="container" id="general_menu_container">
</div>
<nav id="general_menu">
  <ul>
    <li>Messagerie</li>
    <li><%= link_to 'Profil', controller: "users", action: "show", id: current_user.id %></li>
    <li>Projets</li>
    <li>Ressources</li>
  </ul>
</nav>
