<div class="container" id="session_pannel_container">
</div>
<div id="session_pannel">
  <% if user_signed_in? %>
    <p><%=current_user.email%></p>
    <p><%=link_to 'Déconnexion', destroy_user_session_path, :method => :delete%></p>
  <% else %>
    <p><b>Vous n'êtes pas connecté</b></p>
    <p><%=link_to 'Se connecter' , new_user_session_path%></p>
    <p><%=link_to 'Créer un compte', new_user_registration_path%></p><!--problème pour trouver le bon chemin??? -->
  <% end %>
</div>
