@import "{}/client/scss/variables.scss";

.publicationItem {
  .publicationHeader {
    position: relative;

    margin: -10px -10px 0px -10px;
    padding: 7px;

    .authorInfo {
      height: 25px;

      .userAvatar {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }

      .username {
        color: $plus-color;
        position: relative;
        top: -8px;
        line-height: 20px;
        font-size: 14.5px;
        display: inline-block;
      }
    }

  }

  .publicationDate {
    font-size: 0.85em;
    color: $minus-color;
    margin:2px  10px;
    font-style: italic;
  }
  .publicationContent{
    margin: 0 5%;
  }
  .commentBox{

    margin: 0 -10px -10px -10px;
    padding: 5px;
    position: relative;
    .hr {
      width: calc( 90% - 15px) ;
      margin-left: 5%;
      top: -11px;
      height: 2px;
      position: absolute;

    }
  }
}
