
.bird-container{
  border:none;
  left:0;
  right: 0;
  position: absolute;
  top: 0;
  bottom:0;
  z-index:1;
  iframe{
    border:none;
    width: 100%;
    height: 100%;
    html, body, .model{
      width: 100%;
      height: 100%;
    }
  }
}
