@import "{}/client/scss/variables.scss";


#landingAim{
  background-color: $contrasted-bg;
  .card{
    margin-bottom: 50px;
    img{
     // border: 4px solid $focus-color
    }
  }
  .card-content p, .collapsible li{
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .container{

    padding: calc(50vh - 260px) 0;

  }
  .ways{
    padding-left: 30px;
    h6{
        font-size: 1.4em;
      margin-bottom: 30px;
    }
  }

  .collapsible-header{
    border-bottom: 1px solid $blue-highlight-color;
    background-color: $main-bg !important;
    .logoContainer{
      position: relative
    }
    img{
background-color: $contrasted-bg;
      position: absolute; left: -45px;
      height: 60px !important;
      width: 60px !important;
      border-radius: 50%;
      border: 2px solid $focus-color;
    }
    h5{
      font-size: 1.3em;
      padding-left: 25px;
    }
  }
.collapsible-body{
  border-bottom: none;
}
}
