@import "{}/client/scss/variables.scss";

#mapSettings {
  width: 100%;
  position: relative;

  h5 {
    margin: 20px 10px 0px 10px;
  }

  .sectionLabel {
    margin: 5px 10px 10px 0px;
    font-size: 1.1em;
  }
.row{
  .infoQuotes{
    margin: 0 5px 5px;
    font-size: 0.9em;
  }
}
  .mapProviders {
    width: 100%;
    padding: 0px;

    div {
      padding: 0 5px;
      width: 33.3%;

      a {
        position: relative;
        overflow: hidden;
        opacity: 0.8;
        transition: 0.3s;

        span {

          display: block;
          position: absolute;
          bottom: 3px;
          width: 100%;
          text-align: center;
          background-color: rgba($contrasted-bg, 0.7);
          color: $plus-color;
        }

        &:hover {
          opacity: 1;
        }

        &.selectedMap {
          opacity: 1;

          span {
            background-color: rgba($blue-highlight-color, 0.7);
          }

          img {
            border: 3px solid $plus-color;
          }
        }
      }
    }
  }
  .dropdown-content {
    background-color: $lighter-bg;
  }

  .caret {
    color: $main-color
  }
}
