<template name="userMenu">
    <div class="row dark-grey relative {{#if isDesktop}}valign-wrapper{{/if}}">
        {{>contextualMenuTitle
                title=title
                contextualHomepage = contextualHomepage
                color = color
                imgUrl = imgUrl
                path = path
        }}
        {{#if navBarItems}}
            <div class="col s12 m7 l7 xl6 no-margin no-padding ">


                <ul class="tabs dark-grey pin-bottom">
                    {{#each navBarItem in navBarItems}}
                        {{>contextualNavBarItem navBarItem}}
                    {{/each}}
                </ul>
            </div>
        {{else}}
            {{>userMenuBtns
                    userId = userId
                    name = title
            }}

        {{/if}}

    </div>
</template>