<template name="projectMenu">
    <div class="row dark-grey">
        {{>contextualMenuTitle
                title=title
                color = color
                imgUrl = imgUrl
                icon = icon
                path = path
                pathData = pathData
        }}

        <div class="col s12 m7 l6 no-margin no-padding">

            <ul class="tabs dark-grey">
                <li class="tab col s3 active"><a href="#test1">Test 1</a></li>
                <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
    </div>
</template>