<template name="projectMenu">
    <div class="row dark-grey {{#if isDesktop}}valign-wrapper{{/if}}">
        {{>contextualMenuTitle
                title=title
                contextualHomepage = contextualHomepage
                color = color
                imgUrl = imgUrl
                icon = icon
                path = path
                tooltip = tooltip
        }}

        {{#if isMember}}
            <div class="col s12 m7 l7 xl6 no-margin no-padding ">

                <ul class="tabs dark-grey pin-bottom">
                    {{#each navBarItem in navBarItems}}
                        {{>contextualNavBarItem navBarItem}}
                    {{/each}}


                </ul>
            </div>
        {{/if}}
    </div>
</template>