<template name="landingPage">

    <div class="landing-page main-bg relative" style="margin-top: -64px;">
        <div class="relative">{{> langButton}}</div>

        <div id="landingTitle" class="landing-section gradiant relative" style="top: 0;">
            {{>birdsBg}}
            {{>landingTitle}}
        </div>
        <div id="landingAim" class="landing-section">
            {{>landingAim}}
        </div>
        <div id="landingPlus" class="landing-section gradiant bird-background">
            {{>landingPlus}}
        </div>
        <div id="landingTools" class="landing-section contrasted-bg">
            {{>landingTools}}
        </div>

        <div id="landingRoadmap" class="landing-section bird-background">
            {{>landingRoadmap}}
        </div>
        <div id="landingCounter" class=" contrasted-bg">
            {{>landingCounter}}
        </div>
        <div id="landingContact" class="landing-section contrasted-bg">
            {{>landingContact}}
        </div>
    </div>

</template>
