<template name="landingPage">
    {{>landingHead}}

    <div class="landing-page main-bg">
        <div id="landingTitle" class="landing-section">
            {{>landingTitle}}
        </div>
        <div id="landingAim" class="landing-section">
            {{>landingAim}}
        </div>
        <div id="landingPlus" class="landing-section">
            {{>landingPlus}}
        </div>
        <div id="landingTools" class="landing-section">
            {{>landingTools}}
        </div>
        <div id="landingRoadmap" class="landing-section">
            {{>landingRoadmap}}
        </div>
    </div>

</template>
