<template name="userMainPage">
    <div class="row no-margin" id="userMainPage">
        <div class="col s12 no-padding">
            {{>userMenu user = user}}
        </div>
        <div class="col s12 xl8 offset-xl2">
            <div class="row">
                <div class="col s12 m4 xl3">
                    <div class="row">
                        <div class="col s12 no-padding">
                            <div class="card trame-box ">
                                <div class="card-content">
                                    <span class="card-title">Infos</span>
                                    <div class="row">
                                        <img class="responsive-img col s12 no-padding" src="{{user.profile.imgUrl}}">
                                    </div>
                                    {{#if currentUserId}}
                                        <div class="small-padding">
                                            <p class="small-margin small-text">
                                                <i class="material-icons tiny">location_on</i> {{computedInfo.distance}}
                                            </p>
                                            <p class="small-margin small-text">
                                                <i class="material-icons tiny">group_work</i> {{computedInfo.projectField}}
                                            </p>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="categories">
                        <div class="col s12 ">
                            {{#if user.profile.categories.length }}
                                <div class="row center-align" style="margin: 0 0 -7px 0">
                                    {{#each category in user.profile.categories}}
                                        <span class="categories-list">
                                            {{>categoryItem id= category}}
                                        </span>
                                    {{/each}}
                                </div>

                            {{else}}
                                <i class="small-info">Centres d'interets non renseignés</i>
                            {{/if}}
                        </div>
                    </div>

                </div>
                <div class="col s12 m8 xl9 no-padding">

                    <div class="row" id="description">
                        <div class="col s12 ">
                            <div class="card trame-box ">
                                <div class="card-content">
                                    <span class="card-title">Description</span>
                                    <p class="no-margin justify formattedText">
                                        {{#if user.profile.description}}
                                            {{ user.profile.description}}
                                        {{else}}
                                            <i>la description de l'utilisateur n'est pas encore renseignée</i>
                                        {{/if}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 ">
                            <div class="card trame-box">
                                <div class="card-content">
                                    <span class="card-title">Compétences</span>
                                    {{>showCompetences competences= user.profile.competences}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="card trame-box ">
                                <div class="card-content">
                                    <span class="card-title">Derniers articles</span>
                                    {{>postList
                                            isProject = false
                                            editAllowed = isOwner
                                            author_id = user._id
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>