<template name="messengerContainer">
    {{#unless xl}}
        <div class="fixed {{#if showConversations}}displaynone{{/if}}" style="right: 10px; bottom: 10px; z-index: 600">
            {{#if newMessagesCount}}
                <span class="absolute valign-wrapper  notif-message-bubble orange {{#if pulse}} pulse{{/if}}">
                            <span class="grey-text text-darken-4 center-align relative"
                                  style="font-size: 0.8em !important;">
                                {{onlyZeroToNine newMessagesCount}}
                            </span>
                        </span>
            {{/if}}
            <a href=""
               class=" btn-floating btn-large {{#if newMessagesCount}}orange-border{{/if}} tooltipped blue-grey shadow"
               data-position="left" data-delay="50"
               data-tooltip="Messagerie"
               style=" z-index: 600"
               showConversations>

                <img src="/images/icon/chat-dark.png" alt="chat-dark" class="responsive-img relative" style=" top :{{#if
                        newMessagesCount}}7px{{else}}10px{{/if}} !important; height: 45px; width: 45px ">
            </a>
            <a href="" class="hideConversations fixed hidden"></a>
        </div>
    {{/unless}}
    {{#if or xl showConversations}}
        <div class="messengerContainer" style="width :{{#if isPhone}} 300px{{else}}60px{{/if}}">
            {{>conversationList }}
        </div>
    {{/if}}
    {{#if or showConversations   xl}}
        {{#if openedConversations.length}}
            <div class="fixed" style="right : 70px; bottom: 0 ;z-index: 600">
                {{#each openedConversation in openedConversations}}
                    <div class=" shadow dark-grey borer-radius inline-block blue-grey-border"
                         style="margin: 10px !important;z-index: 600 !important; width: 300px; height :450px;  bottom: 10px; opacity: 0.98">
                        {{>conversation conversation = openedConversation}}
                    </div>
                {{/each}}
            </div>
        {{/if}}
    {{/if}}

</template>