@import "{}/client/scss/variables.scss";

#newProject {
  min-height: 100vh;
  padding: 30px 0;
  label[for="securizedProject"]{
    position: relative;
    top:-10px;
  }
  .lockIcon{
    padding: 0 15px 0 10px;
    font-size: 2rem;
  }
  .sectionLabel{
    padding-top: 5px;
    font-size: 1em;
  }
  .infoQuotes{
    margin: -5px 0 15px 0 !important;

  }
}
