@import "{}/client/scss/variables.scss";

#static-group{
    position: fixed ;
    top:5px;
    left: 5px;
    z-index: 1000 !important;
}
.material-icons{
    color: $main-color !important;
}
#slide-out{
    z-index: 1000 !important;
}
.margintop{
    margin: 0!important;
}

.show-menu-btn{
    width: 60px;
    opacity: 0.8;
}
