<template name="contextualMenu">
    <div class="row dark-grey">
        <div class="col s12 m5 l6 row  no-margin">
            {{#if or isMobile isTablet}}
                <div class="col s2 m2 no-padding contextual-menu-margin"></div>
                <div class="col s10 m10">

                    <h4 class="center-align {{color}}-text"><a href="{{pathFor path data= pathData }}">
                        {{name}}</a></h4>
                </div>
            {{else}}
                <div class="col s12">
                    <h4 class="center-align {{color}}-text"><a href="{{pathFor path data= pathData }}">
                        {{name}}</a></h4>
                </div>
            {{/if}}
        </div>
        <div class="col s12 m7 l6 no-margin no-padding">

            <ul class="tabs dark-grey">
                <li class="tab col s3 active"><a href="#test1">Test 1</a></li>
                <li class="tab col s3"><a class="active" href="#test2">Test 2</a></li>
                <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
                <li class="tab col s3"><a href="#test4">Test 4</a></li>
            </ul>
        </div>
    </div>
</template>