@import "{}/client/scss/variables.scss";

.categoryItem {
  margin-bottom: 10px;
  //background-color: $contrasted-bg;
  .progress {
    margin-left: -15px;
    width: calc(100% + 15px);
  }
.topicItem{
  i{
    font-size: 25px;
  }
}
  .currentCategory {
    background: linear-gradient(to right, $blue-highlight-color 0%, $lighter-bg 20%, $lighter-bg 100%);

    .categoryTitle * {
      color: $plus-color !important;
    }
  }
.choosingTypeBtn{
  background-color: $contrasted-plus-bg;
  cursor: pointer;
  i{
    margin: 15px;
  }
  &:hover{
    background-color: $blue-highlight-color;
    i{
      color: $plus-color;
    }
  }
}
  .newTopicBtn {
    opacity: 0;
    right: 55px;
    top: -15px;

    transition: 0.4s ease-out !important;
  }

  &:hover {
    .newTopicBtn {
      right: 25px !important;
      opacity: 1 !important;

    }
  }

  .collapsible-header {
    background-color: $contrasted-minus-bg;
    border-bottom: none;
    transition: 0.3s;
    border-left: 3px solid $blue-highlight-color;
    padding: 7px;

    &:hover {
      padding-left: 2px;
      border-left: 8px solid $blue-highlight-color;

      .categoryTitle * {
        color: $plus-color !important;
      }
    }

    //margin-right: 15px;
    .categoryTitle {
      position: relative;
text-align: left;
      i {
        font-size: 25px;
        position: relative;
        top: 2px;
      }

      span {
        position: relative;
        top: -5px;
      }
    }

    .categorySettings {
      right: -4px;
      top: -2px;

      > a {
        box-shadow: none;
        background-color: transparent;
      }

      .btn-floating {
        padding: 0 3.5px !important;
        width: 35px;
        height: 35px;
        transition: 0.3s;

        i {
          line-height: 36px;
          font-size: 20px;
        }

        &:hover {
          background-color: $blue-highlight-color !important;

          i {
            color: $plus-color !important;
          }
        }
      }

      ul {
        right: 16px;
        top: 10px;
        height: 50px;
        padding-right: 30px;

        li {
          margin-right: 0px;
          padding-right: 1px;

          .btn-floating {
            background-color: $light-bg;
          }

        }
      }
    }

    #editCategoryForm {
      margin-top: 20px;
      width: 100%;
      position: relative;
      z-index: 2001;
      .btn-floating {
        padding: 0px 5px;
        transition: 0.3s;
        background-color: $blue-highlight-color !important;

        &:hover {


          i {
            color: $plus-color !important;
          }
        }
      }
    }

    .notifyCategory {
      .btn-floating {
        padding: 0 3.5px !important;
        width: 35px;
        height: 35px;
        transition: 0.3s;
        box-shadow: none;
        background-color: transparent;

        i {
          line-height: 34px;
          font-size: 20px;

          &:hover {
            color: $plus-color !important;
          }
        }
      }
    }
  }

  .collapsible-body {
    border: none;

    margin-left: 15px;

    .btn-floating {
      transition: 0.3s;
      background-color: $blue-highlight-color !important;

      i {
        color: $main-color
      }

      &:hover {
        color: $plus-color !important;
      }
    }

    .showMoreTopics {

      position: relative;

      i {
        margin: -15px 0;
        position: relative;
        top: 7px;
      }

      span {
        font-size: 1.05em;
        line-height: 20px;
      }
    }

    .topicDropBasket {
      transition: 0.3s;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 200;
      background-color: $lighter-bg;
      display: flex; /* comportement visuel de cellule */
      align-items: center;
      justify-content: center;
      opacity: 0.5;
      border: 3px dotted $plus-color;
      //border-radius: 8px;
      i {
        font-size: 40px;
      }
    }
  }
}
