/****************************
CSS POUR LE TEMPLATE DE BASE
 ******************************/
.body-header *{
margin-top: 0;
}
.body-header{
    height: 100px;
}
.body-header h1{
    font-size: 25px;
}
.general-footer{
    position: relative;
    bottom: 0;
}
.main-container{
    min-height: 100vh;
}