/********************************
CSS DU MENU GENERAL
*********************************/


.general_menu{
    position: fixed;
    top: 22vw;
    bottom: 0;
    width: 14vh;
    display: flex;
    flex-direction: column;
    display: none;
}
.general_menu>ul{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 3vh 0 0 0;
    margin: -3vh 0 0 0;
    z-index: 90;
    background-color: silver;
}
.general_menu>ul>li{
    flex: 1;
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    z-index: 95;
    left: 3vh;
}
.general_menu>ul>li>img{
    height: 85%;
    width: auto;
    background-color: white;
    border-radius: 2vh;
    position: relative;
    z-index: 95;
    border: 2px solid silver;
}

.general_menu ul li ul {
    display: none;
    position: fixed;
    top: 0;
    left: 14vh;
    width: 80vw;
    height: 100vh;
    z-index: 70;
    background-color: whitesmoke;
    padding: 20vw 5vw 5vw 20vw;

}
.general_menu ul li ul li{
    list-style-type: none;

    width: 50vw;
}
.general_menu ul li ul li a{
    text-decoration: none;
    color: inherit;
}