/********************************
CSS DU MENU GENERAL
*********************************/

/*
todo : faire en sorte que cela ne se
chevauche plus de manière dégueulasse
lorsque s'affiche le sous menu
 */

.general_menu{
    position: fixed;
    top: 20vw;
    bottom: 0;
    width: 13.5vh;
    display: flex;
    flex-direction: column;
    display: none;
}
.general_menu>ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3vh 0 0 0;
    margin: -3vh 0 0 0;
    z-index: 90;
    background-color: silver;
}
.general_menu>ul>li{
    flex: 1;
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    z-index: 95;
    left: 3vh;
}
.general_menu>ul>li>img{
    height: 85%;
    width: auto;
    background-color: white;
    border-radius: 2vh;
    position: relative;
    z-index: 95;
}

.general_menu ul li ul {
    display: none;
    position: fixed;
    top: 20vh;
    left: 20vh;
    width: 80vw;
    height: 80vh;
    z-index: 70;
    background-color: white;
    border: 2px solid silver;
}
.general_menu ul li ul li{
    list-style-type: none;
}
.general_menu ul li ul li a{
    text-decoration: none;
    color: inherit;
}