/********************************
CSS DU MENU GENERAL
*********************************/
.genral_menu nav{
    padding: 0;
}
.genral_menu .panel-group{
    padding: 0;
}
.genral_menu .panel-heading{
    padding: 0;
}
.genral_menu a{
    margin: 0;
}
.genral_menu .panel-body{
    padding: 5px;
}