/****************************
CSS DU HEADER - MENU
 ******************************/

/*
 todo :  arriver à le passer en position fixed
 ou lui donner un effet de paralaxe
 */

.header-nav{
    padding: 0;
    margin: 0;
}
.header-nav ul{
    display: flex;
    list-style-type: none;
}
.header-nav * {
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 100;
    border: none;
}
.header-nav .left-menu{
    flex:2;
    display: flex;
}
.header-nav ul li{
    flex: 1 ;
    text-decoration: none;
}
.header-nav img{
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 2vw;
    border: 2px solid darkorange;
}
.header-nav .btn-container{
    flex :1;
    display: flex;
}
#open-search{
    position: absolute;
    z-index: 101;
    width: 25vw;
    height: 21vw;
    cursor: pointer;
}
.header-nav #search{
    display: flex;
}
.header-nav #search-btn{
    flex :1;
}
.header-nav .search-field{
    display: none;
    width: auto;
    margin: 4vw -50vw 6vw 5vw;
    font-size: 5vw;
    padding: 0 50vw 0 4vw;
    border-bottom: 1vw solid white;
    color: white;
}
.header-nav a {
    display: flex;
    justify-content: center;
}
.header-nav button{
    cursor: pointer;
}
.header-background{
    width: 100%;
    background-color: darkorange;
    height: 19vw;
    position: fixed;
    z-index: 99;
}
