/****************************
CSS DU HEADER - MENU
 ******************************/
.hub-icon{
    width: 50px;
    height:50px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 5px;
}

.btn>img{
    height: 50px;
    width: auto;
    padding: 5px;
}
.general-header{
    position: fixed;
    width: 100%;
    background-color: rgba(225, 225, 225, 0.7);
    z-index: 10;
}
.general-header nav{
    margin: 10px ;
}
.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}
.general-header {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.header-height{
    height: 70px;
    margin-bottom: 5px;
}



