/****************************
CSS DU HEADER - MENU
 ******************************/
.hub-icon{
    width: 50px;
    height:50px;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
    padding: 5px;
}

.btn>img{
    height: 50px;
    width: auto;
    padding: 5px;
}

.mini-bar{
    background-color: rgba(225, 225, 225, 0.7);
    height: 10px ;

}

.menu-container{
    background-color: rgba(225, 225, 225, 0.7);
    padding: 10px ;
    border-bottom-left-radius: 20px;
}

.general-header{
    position: fixed;
    width: 100%;
    z-index: 10;
}

.headroom--pinned {
    display: block;
}

.headroom--unpinned {
    display: none;
}

.general-header {
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}

.header-height-xs{
    height: 70px;
    margin-bottom: 5px;
}

.header-height-sm{
    height: 10px;
    margin-bottom: 5px;
}



