<template name="userSelfProfile">
    <div class="row small-margin small-padding">
        <div class="col m3">
            <h4 class="truncate">{{currentUser.username}}
                <span class="badge tooltipped {{completedColor completed}}"
                      data-position="bottom" data-delay="50"
                      data-tooltip="votre profil est complété à {{completed}}%">
                    {{completed}}%
                </span>
            </h4>
            <hr>
            <br>
            <div class="row">
                <div class="col s12" >
                    {{>editImage owner = "user"}}
                </div>
                <hr>
                <br>
                <div class="col s12">
                    {{>editLocation owner = "user"}}
                </div>
                <hr>
                <br>
            </div>
        </div>
        <div class="col m9">
            {{> editDescription owner = "user"}}
        </div>
    </div>

</template>