<template name="userSelfProfile">
    <div class="row">
        <div class="col s12 no-padding">
            {{>userMenu user = currentUser}}
        </div>
        <div class="col s12 xl8 offset-xl2 no-padding" style="margin-top: -20px !important;">
            <div class="row ">
                <div class="col s12 no-padding">
                    <div class="row">
                        <div class="col s12  darken-4 no-padding">
                            <ul class="tabs swipable grey darken-4">
                                <li class="tab col s6">
                                    <a href="#info">Informations
                                    <span class="tooltipped {{completedColor completed}}-text"
                                             data-position="bottom" data-delay="50"
                                             data-tooltip="votre profil est complété à {{completed}}%">
                                        {{completed}}%
                                    </span></a></li>
                                <li class="tab col s6"><a href="#options">Parametres</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="info" class="col s12 no-padding">


                    <div class="row">
                        <div class="col m4 no-padding">
                            <div class="row">
                                <div class="col s12 ">
                                    <div class="card trame-box relative">
                                        <div class="card-content">
                                            <span class="card-title">Avatar</span>

                                            {{>editImage owner = "user"}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 ">
                                    <div class="card trame-box relative">
                                        <div class="card-content">
                                            <span class="card-title">Localisation</span>

                                            {{>editLocation owner = "user"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 ">
                                    <div class="card trame-box ">
                                        <div class="card-content">
                                            <span class="card-title">Centres d'interêt</span>
                                            {{>workInProgress content="d'ajouter et d'editer les types d'activités qui peuvent l'interesser"}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col s12 m8 ">
                            <div class="row">
                                <div class="col s12">
                                    <div class="card trame-box relative">

                                        <div class="card-content">
                                            <span class="card-title">description</span>

                                            {{> editDescription owner = "user"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col s12 ">
                                    <div class="card trame-box">
                                        <div class="card-content">
                                            <span class="card-title">Modifier mes compétences</span>
                                            {{>workInProgress content="d'ajouter et d'editer ses comptences"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div id="options" class="col s12 no-padding">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card trame-box relative">
                            <div class="card-content">
                                <ul class="collapsible no-margin" data-collapsible="accordion"
                                    style="border: none !important;">

                                    <li>
                                        <div class="collapsible-header card-title"
                                             style=" border: none !important;">
                                            <div class="row no-margin">
                                                <div class="col s10 no-padding">
                                                    Administration du compte
                                                </div>
                                                <div class="col s2">
                                                    <i class="material-icons ">arrow_drop_down</i>
                                                </div>
                                            </div>


                                        </div>
                                        <div class="collapsible-body no-padding "
                                             style="border: none !important;">
                                            <a class="waves-effect waves-light btn-flat red-text modal-trigger"
                                               href="#delete-project-modal">Supprimer votre Compte</a>

                                            <!-- Modal Structure -->
                                            <div id="delete-project-modal" class="modal scrollbar dark-grey">
                                                <div class="modal-content dark-grey">
                                                    <h4 class="red-text">Supprimer definitivement votre Compte</h4>
                                                    {{#if isDeletable}}
                                                    {{else}}
                                                        <div class="row">
                                                            <p><b>Votre compte ne peut etre supprimé</b> vous devez au
                                                                préalable :</p>
                                                            <ul style="margin-left: 30px">
                                                                <li>- Quitter tout vos projets</li>
                                                                <li>- Décliner toutes les invitations en cours</li>
                                                            </ul>
                                                        </div>

                                                    {{/if}}
                                                    <div class="row  center-align">
                                                        <a class="btn {{#if isDeletable}} red {{else}} disabled {{/if}}"
                                                           deleteUserAccount>Supprimer votre compte</a>
                                                    </div>
                                                </div>
                                                <div class="modal-footer dark-grey">
                                                    <a class="modal-action modal-close waves-effect waves-green btn-flat"><i
                                                            class="material-icons">clear</i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>