<template name="selfTodo">
    <div class="row no-margin" id="userMainPage">
        <div class="col s12 no-padding">
            {{>agendaMenu}}
        </div>
        <div class="col s12 xl8 offset-xl2">
            <div class="row">
                <div class="col m8 offset-m2">
                    {{>workInProgress content="à l'utilisateur de gerer (creer visualiser editer supprimer) une todo list, et de trier ces taches suivant si elles sont en projet, noté sur l'agenda(en cours), ou déja effectuées"}}
                </div>
            </div>

        </div>
    </div>
</template>