<template name="loginForm">

            <form action="#" id="loginForm">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix  main-color">account_circle</i>
                        <input id="loginUsername" type="text" class="validate">
                        <label for="loginUsername">Nom d'utilisateur</label>

                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix main-color">security</i>
                        <input id="loginPassword" type="password" class="validate">
                        <label for="loginPassword">Mot de passe</label>
                    </div>
                </div>
                <div class="row">
                    <a href="#" class="btn center-align">Connexion</a>
                </div>
            </form>

</template>
