<template name="userSelfProjects">
    <div class="row">
        <div class="col s12 no-padding">
            {{>userMenu user = currentUser}}
        </div>
        <div class="col s12 xl8 offset-xl2">
            <div class="row">
                <div class="col s12 m7">
                    <div class="row">
                        <div class="card trame-box ">
                            <div class="card-content">
                                <span class="card-title">Mes Projets</span>
                                <div class="row no-margin">
                                        <p class="small-info">Avec le statut d'administrateur</p>
                                    {{#if adminProjects}}
                                        {{#each project in adminProjects}}
                                            <div class="row small-margin">
                                                <div class="col s10 no-padding">
                                                    {{>miniature
                                                            _id = project.project_id
                                                            type = "project"}}
                                                </div>
                                                <div class="col s2 right-align relative">
                                                    {{>projectManagmentButton
                                                            project = project}}
                                                </div>
                                            </div>
                                        {{/each}}
                                    {{else}}
                                        Vous n'administrez actuellement aucun projets
                                    {{/if}}
                                </div>
                                <div class="hr"></div>
                                <div class="row">
                                        <p class="small-info">Avec le statut de membre</p>
    {{#if memberProjects}}
                                            {{#each project in memberProjects}}
                                                <div class="row small-margin">
                                                    <div class="col s10 no-padding">
                                                        {{>miniature
                                                                _id = project.project_id
                                                                type = "project"}}
                                                    </div>
                                                    <div class="col s2 right-align relative">
                                                        {{>projectManagmentButton
                                                                project = project}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                        {{else}}
                                            Vous n'êtes actuellement membre d'aucun projet
                                        {{/if}}
                                    <div class="hr"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col s12">
                            <div class="card trame-box ">
                                <div class="card-content">
                                    <span class="card-title">Rechercher des projets</span>
                                    {{>searchTool
                                            type = "project"
                                            callingFrom = "userProjects"
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5 ">
                    {{#if waitingInvitations}}
                        <div class="row">
                            <div class="col s12 ">
                                <div class="card trame-box ">
                                    <div class="card-content">
                                        <span class="card-title green-text">Invitations en attente</span>
                                        {{#each invitation in waitingInvitations}}
                                            <div class="row">
                                                <div class="col s12 no-padding ">
                                                    {{>userInvitation
                                                            invitation =invitation
                                                            declined = false}}
                                                </div>
                                            </div>
                                            <div class="hr"></div>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    {{#if declinedInvitations}}
                        <div class="row">
                            <div class="col s12">
                                <div class="card trame-box ">
                                    <div class="card-content">
                                        <ul class="collapsible no-margin" data-collapsible="accordion"
                                            style="border: none !important;">

                                            <li>
                                                <div class="collapsible-header card-title"
                                                     style=" border: none !important;">
                                                    <div class="row no-margin">
                                                        <div class="col s10 no-padding">
                                                            Invitations Déclinées ({{length
                                                                declinedInvitations}})
                                                        </div>
                                                        <div class="col s2">
                                                            <i class="material-icons ">arrow_drop_down</i>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="collapsible-body no-padding"
                                                     style="border: none !important;">
                                                    {{#each invitation in declinedInvitations}}
                                                        <div class="row">
                                                            <div class="col s12 no-padding ">
                                                                {{>userInvitation
                                                                        invitation = invitation
                                                                        declined = true}}
                                                            </div>
                                                        </div>
                                                    {{/each}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {{/if}}

                </div>
            </div>
        </div>
    </div>
</template>