{% extends "::base.html.twig" %}
{% block title %}
    {{ user.name }}
{% endblock %}
{% block body %}
    <h2>{{  user.name }}</h2>
    <h5>{{ user.username}}</h5>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <h3>présentation</h3>
                <p>{{ user.description }}</p>
        </div>
    </div>
{% endblock %}