<template name="newsFeed">

    <div id="openModalNewsFeedContainer" openModal>
        <a class="waves-effect waves-light btn modal-trigger news " href="#modalNewsFeed">
            <i class="material-icons left   {{#unless isUpToDate}} news-incoming{{/unless}}">rss_feed</i>
            {{__ ".btnLabel"}}
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modalNewsFeed" class="modal contrasted-bg">
        <div class="modal-content small-padding contrasted-bg main-color">
            <h6 style="text-transform: uppercase;">{{__ ".btnLabel"}}</h6>
            <div class="iconInfo">
                {{#if isOpen}}
                    {{#each news in newsArray}}
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{news.img}}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{news.title}}<i class="material-icons right">more_vert</i></span>
                                <p>{{news.firstWords}}</p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i>Card Title</span>
                                <p>{{news.content}}</p>
                            </div>
                        </div>
                    {{/each}}

                {{/if}}
            </div>
        </div>
    </div>

</template>
