<template name="newsFeed">
    <div id="openModalNewsFeedContainer" openModal>
        <a class="waves-effect waves-light btn modal-trigger news" href="#modalNewsFeed">
            <i class="material-icons left">rss_feed
            {{#unless isUpToDate}}
              <span class="notif">.</span>
            {{/unless}}
            </i>

            {{__ ".btnLabel"}}
            {{#if isOpen}}
            <p> {{__ ".content"}}</p>
            {{/if}}
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modalNewsFeed" class="modal contrasted-bg">
        <div class="modal-content small-padding contrasted-bg main-color">
            <h6>{{__ ".btnLabel"}}</h6>
            <div class="iconInfo">
                <p class=" left-align">
                    {{__ ".content"}}
                </p>
            </div>
        </div>
    </div>

</template>
