<template name="newsFeed">
    <div id="openModalNewsFeedContainer" openModal>
        <a class="waves-effect waves-light btn modal-trigger news" href="#modalNewsFeed">
            <i class="material-icons left">rss_feed
            {{#unless isUpToDate}}
                <div class="unseenItemContainer tooltipped "
                    data-position="bottom"
                    data-delay="50" data-tooltip="{{__ ".unseenNews"}}">
                    <div class="unseenItem "></div>
                </div>            
            {{/unless}}
            </i>
            {{__ ".btnLabel"}}
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="modalNewsFeed" class="modal contrasted-bg">
        <div class="modal-content small-padding contrasted-bg main-color">
            <h6 style="text-transform: uppercase;">{{__ ".btnLabel"}}</h6>
            <div class="iconInfo">
                {{#if isOpen}}
                    <p class=" left-align">
                        {{getContent}}
                    </p>
                {{/if}}
            </div>
        </div>
    </div>

</template>
