<template name="invitation">
    <div id="invitation" class=" gradiant center-align relative" style="padding: 1px 0;">

        <div class="bg-logo">{{>birdsBg}}
            <img src="/images/icon/systemd-biglogo-grey.png" alt="">
        </div>

        <div class="contrasted-bg shadow invitationContainer  main-color">
            {{> langButton}}
            <div class="row no-margin">
                <div class="col s3 ">
                    <img src="/images/icon/systemd-logo-white.png" alt="System-D" class="responsive-img  system-dLogo"
                    >
                </div>
                <div class="col s9 ">

                    <h5 class="focus-color left-align no-margin" style="padding-right: 30px">{{__ ".title"}}</h5>
                    <div class="right-align"><a href="/" target="_blank" class="right-align link"><i>{{__
                            ".moreInfo"}}</i></a>
                    </div>

                </div>

            </div>
            <div class="hr" style="margin-top: 0 !important;"></div>
            {{#if noLongerExist}}
                <div class="row">
                    <h6><i>{{__ ".noLongerExist"}}</i></h6>
                    <p class="infoQuotes left-align">
                        {{__ ".noLongerExistInfo"}}
                    </p>
                </div>
            {{else}}
                {{#if needToLoginFirst}}

                    <div class="row"></div>
                    <div class="row">
                        <h6><i>{{__ ".needToLoginFirst"}}</i></h6>
                        <p class="infoQuotes left-align">
                            {{__ ".needToLoginFirstInfo"}}
                        </p>
                    </div>


                    <a href="" class="btn btnStandard waves-effect waves-light full-width" goLogin>
                        {{__ ".needToLoginFirstButton"}}
                    </a>


                {{else}}
                    {{#if compare project '&&' invitation}}
                        <div class="row ">
                            <div class="col s12  center-align">
                                <div class="row">
                                    <div class="project-avatar  center-align" style="display: inline-block">
                                        {{>projectAvatar projectId=project._id}}
                                    </div>
                                    <h5 class="no-margin ">{{project.name}}</h5>
                                </div>

                            </div>
                            {{#if ready}}
                            {{#if userAlreadyInProject}}
                                <p class=" no-margin">
                                    <i>{{__ '.userAlreadyInProject'}}</i>
                                </p>
                            {{else}}
                                <div class="row no-margin ">
                                    <div class="col s6 ">
                                        <a href="/" class="btn btnStandard waves-effect waves-light full-width">
                                            {{__ ".decline"}}
                                        </a>
                                    </div>
                                    <div class="col s6">
                                        <a href="" class="btn btnStandard waves-effect waves-light full-width" accept>
                                            {{__ ".accept"}}
                                        </a>
                                    </div>
                                </div>
                            {{/if}}
                            {{/if}}
                        </div>     {{#if project.public.description}}
                        <div class="row">
                            <div class="col s12">
                                <h6 class="left-align">{{__ ".description"}} :</h6>
                                <p class="infoQuotes left-align">
                                    {{project.public.description}}
                                </p>
                            </div>

                        </div>
                    {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </div>
    </div>
</template>
