@import "{}/client/scss/variables.scss";

#invitation {
  position: relative;
  min-height: 100vh;
  height: 100%;

  iframe {
    position: relative;
    z-index: 0;
  }
  .invitationContainer {
    background-color: rgba($contrasted-bg, 0.8);
    max-width: 90%;
    width: 400px;
    margin: calc(5vw + 50px) 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: relative;
    z-index: 10;
    padding: 2vw;

    .system-dLogo{


    }
    .infoQuotes {
      font-size: 0.9em;
      margin: 0.6em 0;
    }
    .project-avatar {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      overflow: hidden;
      border: 3px solid $blue-highlight-color;
    }
  }
}
