{% extends "::base.html.twig" %}

{% block body %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        <div class="alert alert-danger">L'authentification à échouée</div>
        {#TODO email de confirmation#}
        {#<div class="alert alert-danger">{{ error.message }}</div>#}
    {% endif %}
{% endblock %}