<template name="showAcceptNotif">
    <div class="absolute" id="showAcceptNotif">
        <div class="container" style="margin-top: 20vh">
            <div class="row">
                <div class="col s12 m11 offset-m1 l9  xl7  main-color shadow message-container">
                    <div class="small-padding no-margin row valign-wrapper">
                        <div class="col s2 valign-wrapper center-align">
                            <i class="material-icons valign-wrapper center-align " style="font-size: 60px">notifications_active</i>
                        </div>
                        <div class="col s10" style="padding-left: 25px">

                            <h6 class="plus-color"> {{__ ".showAcceptNotifs"}}
                            </h6>
                            <p class="infoQuotes">
                                {{__ ".showAcceptNotifsInfos"}}
                            </p>
                        </div>

                        <!--<div class="row center-align no-margin">-->
                            <!--<a href="" class="btn btnStandard right-align" close><i class="material-icons">done</i></a>-->
                        <!--</div>-->

                    </div>

                </div>
            </div>
        </div>


    </div>

</template>
