@import "{}/client/scss/variables.scss";

#showAcceptNotif{
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 9000;
  background-color: rgba($contrasted-bg,0.7);
  .material-icons{
    color: $plus-color !important;
  }
  .message-container{
    background: linear-gradient(to right, $blue-highlight-color 0%,  $main-bg 20%, $main-bg 100%);
  }
  p{
    font-size: 0.9em;
  }
}
