<template name="showAcceptNotif">
    <div class="absolute" id="showAcceptNotif">
        <div class="container" style="margin-top: 20vh">
            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2 xl6 offset-xl3 main-bg main-color shadow">
                    <div class="small-padding small-margin">
                        <h5><i class="material-icons">notifications_active</i> {{__ "notification.showAcceptNotifs"}}
                        </h5>
                        <p class="infoQuotes">
                            {{__ "notification.showAcceptNotifsInfos"}}
                        </p>
                        <!--<div class="row center-align no-margin">-->
                            <!--<a href="" class="btn btnStandard right-align" close><i class="material-icons">done</i></a>-->
                        <!--</div>-->

                    </div>

                </div>
            </div>
            <h5>

            </h5>
        </div>


    </div>

</template>
