element{
  --main-bg: #263238;
  --contrasted-bg: #1E272C;
  --light-bg : #2E3C43 ;
  --lighter-bg: #314549;
  --main-color: #C3CEE3;
  --plus-color: #ffffff;
  --focus-color: #E79627;
  --minus-color: #AFB1B3;
  --info-color: #7A8387;
}
.main-bg{
  background-color: var(--main-bg);
}
.contrasted-bg{
  background-color: var(--contrasted-bg);
}
.light-bg{
  background-color: var(--light-bg) ;
}
.lighter-bg{
  background-color:var(--lighter-bg);
}

.main-color, .main-color *{
 color: var(--main-color);
}
.plus-color, .plus-color *{
 color: var(--plus-color);
}
.focus-color, .focus-color *{
  color: var(--focus-color);
}
.minus-color, .minus-color *{
color: var(--minus-color);
}
.info-color, .info-color *{
 color: var(--info-color);
}
