.no-margin{
  margin: 0 !important;
}
.small-margin{
  margin: 5px !important;
}

.small-padding{
  padding: 10px !important;
}
.no-padding {
  padding: 0 !important;
}
.padding-l-r{
  padding-left: 7px !important;
  padding-right: 7px !important;
}

.flex{
  display: flex !important;
}
.flex-auto{
  flex: auto !important;
}
