@import "{}/client/scss/variables.scss";

// POSITIONNEMENT
.no-margin{
  margin: 0 !important;
}
.small-margin{
  margin: 5px !important;
}

.small-padding{
  padding: 10px !important;
}
.no-padding {
  padding: 0 !important;
}
.padding-l-r{
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.full-height{

  height: 100% !important;
}
.flex{
  display: flex !important;
}
.flex-auto{
  flex: auto !important;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
//Backgrounds et textures
.gradiant{
  background: linear-gradient(45deg, $main-bg 0%, $contrasted-bg 100%);
}
.shadow{
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);

}
.bird-background{
  background-image: url("images/trame/empty_birds_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


//textStyles
.infoQuotes{
  transition: color .5s, left 0.5s ease-in-out, border-left 0.5s, padding-left 0.5s, margin-left 0.5s;
  padding-left: 10px;
  border-left: 3px solid $blue-highlight-color;
}
.infoQuotes:hover{
  color : $plus-color;
  border-left: 10px solid $focus-color;
  margin-left: -3px;
  padding-left: 6px
}

.btnStandard{
  background-color: transparent !important;
  border: 2px solid $blue-highlight-color !important;
  .material-icons{
    color: $blue-highlight-color !important;
    transition: color 0.5s
  }

  color: $plus-color !important;
  transition: color 0.5s, border 0.5s;
}
.btnStandard:hover, .btnStandard:focus{
  .material-icons {
    color: $focus-color !important;
  }

  border: 2px solid $focus-color !important;
}

//f
