
$main-bg: #263238;
$contrasted-bg: #1E272C;
$contrasted-plus-bg: #1B2529;
$contrasted-minus-bg: #222b31;
$light-bg : #2E3C43 ;
$lighter-bg: #364c50;
$main-color: #C3CEE3;
$plus-color: #ffffff;
$focus-color: #E79627;
$blue-highlight-color: #165261;
$link-color: #639dad;
$minus-color: #7d7f81;
$info-color: #7A8387;
$danger-color: #711030;
$danger-text: #d21e58;
$grey: #46525b;
