@import "{}/client/scss/variables.scss";

#openModalbetaContainer {
  position: absolute;
  top: 11px;
  left: -31px;
  display: inline-block;
  visibility: hidden;
  z-index: 6000;

  a {
    visibility: visible;
    z-index: 6000;
    position: relative;
    padding: 5px 40px 5px 30px;

    background-color: $focus-color;
    height: 30px;
    line-height: 20px;
    color: $contrasted-bg;

    opacity: 0.7;
    transition: 0.5s ease-out;
    font-weight: bold;
    font-size: 15px;
    transform: rotate(-45deg);

    i {
      margin-right: 3px !important;
      //margin-left: 3px !important;
      color: $contrasted-bg;
      font-size: 15px !important;
    }

    &:hover {

      opacity: 1;
    }
  }


}

#modalbeta {
  z-index: 10000 !important;
  max-width: 700px !important;
  max-height: 90%;
  padding: 40px 40px 20px 40px;

  .band {
    position: absolute;
    top: 19px;
    left: -39px;
    display: inline-block;
    visibility: hidden;
    z-index: 6000;

    a {
      visibility: visible;
      z-index: 6000;
      position: relative;
      padding: 0 45px;

      background-color: $focus-color;
      height: 30px;
      line-height: 30px;
      color: $main-bg;

      opacity: 0.7;
      transition: 0.5s ease-out;
      font-weight: bold;
      font-size: 10px;
      transform: rotate(-45deg);

      i {
        margin-right: 3px !important;
        //margin-left: 3px !important;
        color: $main-bg;
        font-size: 15px !important;
      }
    }
  }

  .infoQuotes {
    font-size: 0.9em;
  }

}
