
@import "{}/client/scss/variables.scss";


#landingCounter{
  .btn-large{
    border: 2px solid $focus-color;
    font-size: 120%;
    background-color: transparent;
  }
  .btn-large:focus, .btn-large:hover{
    background-color: $contrasted-bg !important;
  }
  .container{
    padding:20px 0 !important;

  }
  canvas{
    margin: 50px 20px 0 10px;
  }
  .flex{
    position: relative;
    margin-top: 20px;
    padding: 40px 0px 10px 5px;

    .number{
      padding:0 10px 0 0px;
    }
    img{
      position: relative;
      border-radius: 10px;
      width: 70px;
      height: 70px;
      padding: 5px;
      margin: 10px;
      background-color: $lighter-bg;
      border: 3px solid $focus-color;

    }


  }

}
