<template name="langButton">
  
    <!-- <div class="input-field col s12 lang">
        <select>
          <option value="" disabled selected>Choose your language</option>
          <option value="1">FR</option>
          <option value="2">EN</option>
          <option value="3">ES</option>
        </select>
        <label>Language Select</label>
    </div> -->


    <select class="browser-default lang" id="tt">
      <option id="fr" value="fr-FR">FR</option>
      <option id="en" value="en-US">EN</option>
      <option id="es" value="es-ES">ES</option>
    </select>

</template>