@import "{}/client/scss/variables.scss";

#newPublication {
  .newPublicationTitle {
    i {
      margin-right: 5px;
    }

    h5 {
      margin: 0;
      line-height: 24px;
    font-size: 1em;
    }
  }
  .contentTypeSelector{
    margin: -10px -5px;
    .contentTypeBox{
      display: block;
      padding:  5px ;
      margin: 0px 5px 10px 5px;
      background: linear-gradient(45deg, $main-bg 0%,$contrasted-minus-bg  100%);
     // border-radius: 5px;
      height: 45px;
      i{
        font-size: 35px;
        line-height: 35px;
      }
      p{
        margin: 0;
      }
      &:hover{
        background: linear-gradient(45deg, $main-bg 0%,$blue-highlight-color 100%);
        //border: 2px solid $plus-color;
        *{
          color: $plus-color !important;
        }
      }
    }
  }
}
