<template name="miniature">
    <div class="row miniature valign-wrapper relative" showCategories >
        <div class="col s12 valign-wrapper no-padding" >
            <a href="{{path}} " class="truncate hover-{{color}}" style=" width: 100%;">
                <img src="{{imgUrl}}" alt="" class="circle img-circle {{color}}-border">
                <span>{{name}}</span>
            </a>
        </div>
        <div class="absolute {{#if and showCategories categories.length}}miniature-category-container{{/if}}" style="bottom: -50px !important; left : 33px">

            {{#each category in categories }}
                {{#if lt @index 4}}
                    <div class="" style="display: inline-block !important; ">
                    <div class=" scale-transition miniature-category {{#unless showCategories}}scale-out{{/unless}}" style="z-index: 2000 !important;">

                        {{>categoryItem id = category}}

                    </div>
                    </div>
                {{/if}}

            {{/each}}

        </div>
    </div>
</template>