.contextual-menu-margin:after{
    content: "";
    display: block;
    padding-bottom: 120%;
}
.img-circle{
    height: 60px !important;
}
.contextual-menu-title{
    height: 75px !important;
}
.fab-menu-btn{
    position: absolute !important;
    right: 24px !important;
    left: auto !important;
    width: 60px !important;
    bottom: -35px !important;
    height: 60px;
}
.fab-menu-btn>a{
    position: relative !important;

}