<template name="adminProject">
    <div class="row">
        <div class="col s12 no-padding">
            {{>projectMenu project = project}}
        </div>
        <div class="col s12 xl8 offset-xl1 no-padding" style="margin: -20px 0 0 0 !important;">
            <div class="row ">
                <div class="col s12 no-padding">
                    <div class="row">
                        <div class="col s12  darken-4 no-padding">
                            <ul class="tabs swipable grey darken-4">
                                {{#if isAdmin}}
                                    <li class="tab col s4">
                                        <a href="#edit" switchTab>Informations
                                            <span class=" tooltipped {{completedColor completed}}-text"
                                                  data-position="bottom" data-delay="50"
                                                  data-tooltip="Les infos du projet sont complétés à {{completed}}%">
                                                {{completed}}%
                                            </span>
                                        </a>
                                    </li>
                                    <li class="tab col s4"><a href="#members" switchTab>Membres</a></li>
                                    <li class="tab col s4 "><a href="#blog" switchTab>Blog</a></li>
                                {{else}}
                                    <li class="tab col s12"><a href="#members" switchTab>Membres</a></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="edit" class="col s12 no-padding">{{#if eq currentTab "edit"}}{{>editProjectInfo project=project}}{{/if}}</div>
                <div id="members" class="col s12 no-padding">{{#if eq currentTab "members"}}{{>members project}}{{/if}}</div>
                <div id="blog" class="col s12 no-padding">{{#if eq currentTab "blog"}}{{>workInProgress}}{{/if}}</div>
            </div>
        </div>
    </div>
</template>