<template name="adminProject">
    <div class="col s12 xl8 offset-xl2 no-padding" style="margin-top: -20px !important;">
        <div class="row">
            <div class="col s12 no-padding">
                <div class="row">
                    <div class="col s12  darken-4 no-padding">
                        <ul class="tabs swipable grey darken-4">
                            {{#if isAdmin}}
                                <li class="tab col s3">
                                    <a href="#edit" switchTab>Informations
                                        <span class=" tooltipped {{completedColor completed}}-text"
                                              data-position="bottom" data-delay="50"
                                              data-tooltip="Les infos du projet sont complétés à {{completed}}%">
                                                {{completed}}%
                                            </span>
                                    </a>
                                </li>
                                <li class="tab col s3"><a href="#members" switchTab>Membres</a></li>
                                <li class="tab col s3 "><a href="#blog" switchTab>Blog</a></li>
                                <li class="tab col s3 "><a href="#administry" switchTab>Administration</a></li>
                            {{else}}
                                <li class="tab col s6"><a href="#members" switchTab>Membres</a></li>
                                <li class="tab col s6 "><a href="#administry" switchTab>Administration</a></li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
            </div>
            {{#if isAdmin}}
                <div id="edit" class="col s12 no-padding">
                    {{#if eq currentTab "edit"}}
                        {{>editProjectInfo project=project}}
                    {{/if}}
                </div>
                <div id="blog" class="col s12 no-padding">
                    {{#if eq currentTab "blog"}}
                        {{>newBlogPost
                                isEditing = false
                                type = "project"
                                id= project._id
                        }}
                    {{/if}}
                </div>
                <div id="members" class="col s12 no-padding">
                    {{#if eq currentTab "members"}}
                    {{>members project}}
                {{/if}}
                </div>
                <div id="administry" class="col s12 no-padding">
                    {{#if eq currentTab "administry"}}
                        {{>administry project=project
                                isAdmin=isAdmin}}
                    {{/if}}
                </div>
            {{else}}
                <div id="members" class="col s12 no-padding">
                    {{#if eq currentTab "members"}}
                    {{>members project}}
                {{/if}}
                </div>
                <div id="administry" class="col s12 no-padding">
                    {{#if eq currentTab "administry"}}
                        {{>administry project=project
                        isAdmin=isAdmin}}
                    {{/if}}
                </div>
            {{/if}}
        </div>
    </div>
</template>