<template name="landingHead">
    <div id="landingHead" class="navbar-fixed ">
        <nav class=" minus-color contrasted-bg">
            <div class="nav-wrapper ">

                {{#unless currentUserId}}
                <a href="/" class="logo-site"><img src="/images/icon/systemd-logo-white.png" alt="" class="responsive-img"></a>
{{/unless}}
                <ul class="right hide-on-small-only">
                    <li><a href="/#landingAim">{{enTranslate.aim}}</a></li>
                    <li><a href="/#landingPlus">{{enTranslate.feature}}</a></li>
                    <li><a href="/#landingRoadmap">{{enTranslate.roadMap}}</a></li>
                    <li><a href="/#landingContact">{{enTranslate.contact}}</a></li>
{{#unless currentUserId}}
                    <li><a href="/login" style="font-weight: bold">{{enTranslate.signUp}} // {{enTranslate.logIn}}</a></li>
{{/unless}}
                </ul>
                {{#if isPhone}}
                <ul class="right show-on-small">

                    {{#unless currentUserId}}
                        <li><a href="/login" style="font-weight: bold">inscription/Connexion</a></li>
                    {{/unless}}
                </ul>
                   {{/if  }}
            </div>
        </nav>
    </div>
</template>
