<template name="landingHead">
    <div class="navbar-fixed landingHead ">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#landingAims">Sass</a></li>
                    <li><a href="#landingPlus">Components</a></li>
                    <li><a href="#landingRoadmap">Components</a></li>
                </ul>
            </div>
        </nav>
    </div>
</template>
