<template name="sharing">
    <div class="row no-margin" id="userMainPage">
        <div class="col s12 no-padding">
            <div class="row dark-grey relative {{#if isDesktop}}valign-wrapper{{/if}}">
                {{>contextualMenuTitle
                        title="partage"
                        color = "deep-purple"
                        contextualHomepage = "sharing"
                        imgUrl = currentUser.profile.imgUrl
                }}
            </div>
        </div>
        <div class="col s12 xl8 offset-xl2">
            <div class="row">
                <div class="col m8 offset-m2">
                    {{>workInProgress
                            content="d'offire à l'utilisateur la posibilité de visualiser, ajouter, editer les ressources qu'il souhaite partager et ainsi que ses besoins en ressources"
                            info=" il sera alerté lorsque ses besoins trouvent des utilisateurs ou projets disposant de cette ressource et inversement"}}

                </div>
            </div>

        </div>
    </div>
</template>