{% extends '::base.html.twig' %}

{% block body_header %}
<h1>titre du machin</h1>
{% endblock %}
{% block body %}
Hello World!
    <div class="row">
    <div class="col-md5">vvdfvvb</div>
    <div class="col-md-7">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloremque eos non quia quod repellat similique. Asperiores cum cumque ea exercitationem fugiat ipsum minus, modi rem tenetur totam, unde vel.
    <hr>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid architecto aspernatur, at beatae culpa, deleniti hic impedit iste maxime mollitia neque perspiciatis qui quos saepe sapiente sunt suscipit!
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores beatae eos esse et exercitationem expedita harum illo incidunt ipsam libero maiores, modi odio officia optio placeat quas quis, recusandae velit.</p>
    </div>
    bla<br>
    <br><br><br><br><br><br><br><br><br><br><br><br>bla
    <br><br><br><br><br><br><br><br><br><br><br><br>bla
    <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
        <br><br><br><br><br><br><br><br><br><br><br><br>bla
    </div>
bla
    </div>
        {% endblock %}
