<div class="panel-group genral_menu" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="row">
                    <span class="col-md-4 navbar-brand"><img src="{{ asset('img/icon/user_icon.png') }}"></span>
                    <h5 class="col-md-8">Login</h5>
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="list-group">
                    <form role="form" action="{{ path('login_check') }}" method="post" class="list-group-item">
                        <div class="form-group ">
                            <label for="username" class="hide">Nom d'utilisateur</label>
                            <input class="form-control" type="text" id="username" name="_username" required="required" placeholder="Nom d'utilisateur">
                        </div>
                        <div class="form-group ">
                            <label for="password" class="hide" >Password</label>
                            <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="Password">
                        </div>
                        <input type="submit" class="btn btn-standard center-block" value="Connexion">
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                    <button class="btn btn-standard btn-block btn-sm" data-toggle="modal" data-target="#myModal">
                        <h5 class="col-md-8 col-md-offset-2">S'enregistrer</h5>
                    </button>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Quitter</span></button>
                        <h4 class="modal-title" id="myModalLabel">Enregistrement</h4>
                    </div>
                    {{ render(controller('UserBundle:User:add' , { 'originalRequest' : app.request })) }}
                </div>
            </div>
        </div>
    </div>
</div>
