@import "{}/client/scss/variables.scss";
//@import "{}/client/scss/pluginsLib/leaflet.css";

.chromeNiceTasks{
  height: 100vh;
}
#projectTasks {
  width: 100%;
  position: relative;
  color: $main-color;

  &.desktopProjectTasks {

  }

  &.mobileProjectTasks {
    height: calc(100vh - 121px);
.focus-color{
  border-bottom: 3px solid $focus-color;
}
    .tasksList {
      padding: 0 10% ;
    }
    .listDropBasket {

    }
    .mobileDragging .tasksList{
      width: 80% !important;
      margin: 0 10% !important;
      padding: 0 !important;
    }
    .mobileNavBar {
      position: fixed;
      right: 0;
      width: 100vw;
      margin: 0px;
      a {
        top: 5px;




            background-color:transparent;
            transition: 0.3s;
box-shadow: none !important;
        margin: 0 5px;
        i{
          font-size: 50px;
        }
            &:hover {
              background-color: transparent;
            }

      }


      .nextList {
        right: 0;
      }

      .previousList {
        left: -10px;
      }

      .dragOver {
        width: 10%;
        background-color: $main-color;
        z-index: 60000;
        content: " ";
        position: fixed;
        top: 0;
        bottom: 0;
        opacity: 0.1;
      }



      #dragover-right {
        right: 0;
      }

      #dragover-left {
        left: 0
      }
    }

    #tasksGroupsList {
      width: 400vw !important;
      overflow: scroll;
      transition: 0.5s ease-out;
      left: 0vw;
      padding: 0 !important;

      .tasksGroupContainer {
        width: calc(100vw - 10px);

        .tasksGroup {
          display: block;
          //overflow-y: scroll;
          overflow:hidden;

          .addBtn {
            margin: 0 10% !important;
            width: 80%;
          }
        }
      }
    }

  }

  &.tabletProjectTasks {
    height: calc(100vh - 129px);
    //.tasksList {
    //  padding: 0 20px ;
    //}

  }

  .addBtn {
    background-color: $light-bg !important;
    border-color: $focus-color !important;
    width: 100%;

    i {
      color: $focus-color !important;

    }

    &:hover {
      background-color: $lighter-bg !important;
    }
  }

  .closeColorSelector {
    content: " ";
    top: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 299;
  }

  .colorSelector {
    position: absolute;
    z-index: 299;
    width: 291px;
    padding: 5px 15px;
    border-radius: 25px;
    right: 0px;
    background-color: $main-bg;
    top: 00px;
    height: 40px;

    a {
      position: relative;
      display: inline-block;
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border-radius: 5px;
      background-color: $main-color !important;
      margin: 2px;

      i {
        position: relative;
        display: inline-block;
        top: -2px;
        left: -2px;
        font-size: 30px;
      }
    }
    .myTasks{
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      top:-2px;
left: 6px;
      cursor: pointer;
      margin: 0px -2px 0 0;
      border: 2px solid $lighter-bg;
      overflow: hidden;
      &.myTasksSelected{
      border-color: $main-color !important;
    }
    }
  }

  #tasksContainer {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;

    .tasksHeader {
      margin: 10px;

      a {
        background-color: $light-bg;
        transition: 0.3s;

        &:hover {
          background-color: $blue-highlight-color;
        }
      }

      .titleContainer {
        .title {

          padding: 0 5px;
          text-align: center;
          font-size: calc(1em + 50%);
          line-height: 40px;
          color: $plus-color;
        }
      }
    }

    .closeSideNav {
      content: " ";
      top: 0;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 299;
    }


    #tasksGroupsList {
      width: 100%;
      height: 100%;
      //background-color: $main-color;
      z-index: 100;
      display: flex;
      padding: 0 5px;

      .tasksGroupContainer {
        flex: 1;
        padding: 0 5px;
        height: 100%;

        //overflow: hidden;

        .tasksGroup {
          display: flex;
          background: linear-gradient(to bottom, $contrasted-plus-bg 0%, $main-bg 100%);
          height: 100%;
          flex-direction: column;
overflow: hidden;
          .groupHead {
            text-align: center;
            font-size: 0.9em;
            font-style: italic;
            padding: 10px 0 3px 0;
            //background-color: $contrasted-bg;

            i {
              padding: 0 5px;
              color: $minus-color;
              font-size: 2.3em;
              &.focus-color{
                color: $focus-color !important;

              }
            }
          }
        }
      }

    }
  }


  #tasksSideNav {
    height: 100%;
    color: $main-color;
    z-index: 600;


    &.desktopTasksSideNav {
      width: 300px;

      #sideTasksContent {
        overflow-x: hidden !important;
      }

    }

    &.mobileTasksSideNav, &.tabletTasksSideNav, &.desktopTasksSideNav {
      top: 0;
      position: absolute;
      transition: 0.3s ease-out;

    }

    &.mobileTasksSideNav {
      width: calc(100vw - 70px);
      right: calc(-100vw + 70px);

      &.openedSideNav {
        right: 0;
      }
    }

    &.tabletTasksSideNav, &.desktopTasksSideNav {
      width: 300px;
      right: -300px;

      &.openedSideNav {
        right: 0;

        #sideTasksContent {
          overflow: scroll;
        }
      }
    }

    #sideTasksContent {
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      padding-bottom: 50px;
    }


  }
}
