#general_menu_container{
  position: absolute;
  border-radius: 0px 10px 10px 0px;
  top: 100px;
  height: 300px;
  left: -1000px;
  right: 850px;
}
#general_menu{
  position: absolute;
  ul{
    li{
      color : white;
      border-bottom: 1px solid white;
      padding : 10px;
      list-style:none;
      a{
        color : white;
        text-decoration: none;
      }
    }
  }
}
