// CSS for the session_pannel
#session_pannel_container{
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  top: 0px;
  height: 100px;
  left: 200px;
  width: 200px;

}
#session_pannel{
  top: 0px;
  height: 100px;
  left: 200px;
  width: 200px;
  position: absolute;
  p{
    color: white;
    font-size: 12px;
    text-align: center;
    a{
      color: white;
    }
  }
}
