.notif-bubble{
    z-index: 101 !important;
    top :-7px;
    right : -15px ;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    text-align: center !important;
    background-color: #0e0e0e;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    cursor: pointer;
}
.notif-bubble>span {
    width: 100%;
    top : 2px;
}
.notif-container{
    width: 100vw;
    height: 100vh;
}