@import "{}/client/scss/variables.scss";

.commentList {
  padding: 0 2%;

  .commentListUl {
    margin: 5px;
  }

  .showMoreComment {
    position: relative;
    top: -10px;


    i {
      position: relative;
      bottom: -7px;
    }


    font-size: 0.9em;
    color: $minus-color;

    * {
      color: $minus-color;
    }

    opacity: 0.8;

    &:hover {
      color: $link-color;
      opacity: 1;

      * {
        color: $link-color;
      }
    }
  }

  .newComment {
    margin: 10px 5px 5px 5px;


    .userAvatar {
      width: 35px;
      height: 30px;
      padding-right: 5px;
      border-radius: 50%;
    }

    .btnStandard {
      margin: 5px 0 0 5px !important;
      border-radius: 5px;
      height: content-box;

      i {
        margin: 0 !important;
      }
    }

    .textareaSuperContainter {
      background-color: $main-bg;
     // background: linear-gradient(45deg, $main-bg 0%,$contrasted-minus-bg  100%);
      margin: 0px 0 2.5px 0;
      padding: 7px 60px 0 10px;
      border-radius: 1em;
      opacity: 0.8;
      transition: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    &.editComment{
      margin: 0 !important;
      background-color: $contrasted-minus-bg;
      border-radius: 5px;
      .textareaSuperContainter {
        box-shadow: none !important;
        background-color: $contrasted-minus-bg;
      }
      textarea{
        font-size: 1.1em !important;
        background-color: $contrasted-minus-bg;
      }
    }
    .sendCommentBtn {
      position: absolute;
      top: 3px;
      right: 7px;
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
    }

    .emojiBtn {
      position: absolute;
      top: 3px;
      right: 37px;
    }

    .emojiBtn, .sendCommentBtn {
      i {
        color: $minus-color;
        margin: 0;

        &:hover {
          color: $plus-color;
        }
      }
    }

    textarea {
      margin: 0px 0 -6px 0;
      padding: 0 !important;
      min-height: 1.7em;
      max-height: 5.6em !important;
      font-size: 0.95em;
    }
  }

}
