@import "{}/client/scss/variables.scss";

#userMenu{
  margin: 0 0 -14px 0;
  padding: 10px 5px;

  .project-avatar{
    border: none !important;
    height: 35px !important;
    width: 35px !important;
    margin: 5px 10px;
  }
  img{
    opacity: 0.8;
    border: none;
  }
  &:hover,&.isActive {
    //margin-left: -5px;
    border-left: 5px solid $blue-highlight-color;
    background-color: $main-bg !important;
    margin-right: -10px;
    padding-left: 0px !important;

    img{
      opacity: 1;
      margin-right: -5px;
    }
    .projectTitle {
      color: $main-color !important;
    }
  }
&.isActive{
  background: linear-gradient(to right, $blue-highlight-color 0%, rgba($blue-highlight-color, 0.65) 20%, rgba($light-bg, 0.65) 100%) !important;

}
}
