@import "{}/client/scss/variables.scss";

.general-menu {
  padding: 0 0px !important;
    height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
#menuHeader{

}
  #menuProjectsContainer{

    height: calc(100vh - 128px);
padding-bottom:150px;
  }

  .currentuser-infos {

    .dropdown-button {
      padding: 0px 10px;
      cursor: pointer;
      *{
        transition: .3s ease-out;
      }
      transition: .3s ease-out;
      &:hover{
        background-color: rgba($contrasted-bg, .5);
        *{
          color: $plus-color;
        }
      }
      .elipsis{
        padding: 5px 0px 0px 5px;
        font-size: 1em;
        margin-bottom: -10px;
      }
      .material-icons {
        padding:  5px 0px 0px 0px;
      }
    }

    .avatar-container {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid $focus-color;

    }

    .elipsis {
      font-size: 1.2em;
    }

    .dropdown-content {
      li {
        left: 20px;
        min-height: 35px !important;
        *{
          font-size: 1.05em;
        }
        &:hover {
          background-color: $lighter-bg;
          color: $plus-color;
          * {
            color: $plus-color !important;
          }
        }
        a {
          padding: 10px 20px;
          color: $main-color !important;
        }
      }
    }
  }
}
