.general-menu{
    padding:  0 20px 0 0 !important;
    height: 100vh !important;
}
.general-menu a{
    color: lightgray !important;
}
 .general-menu .collapsible-header{
    margin: 20px 0 0 0 !important;
}

.menu-item{
    border-radius: 0 5px 5px 0 ;
}
.hub-title {
    font-size: 150% !important;
    margin-top: 15px !important;

}
.hub-logo{
    width: 70px !important;
    height: 70px !important;
}
.title-block{
    height: 75px !important;
}