.general-menu{
    padding:  0 20px 0 0 !important;
    height: 100vh !important;
}
.general-menu a{
    color: lightgray !important;
}
 .general-menu .collapsible-header{
    margin: 12px 0 0 0 !important;
}

.menu-item{
    border-radius: 0 3px 3px 0 ;
    background-image: url("/images/trame/trame5.png");
    background-color: #1c1c1c !important;
    background-attachment: fixed;
    padding: 15px !important;
    -webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);
    box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.68);

}
.hub-title {
    font-size: 150% !important;
    margin-top: 15px !important;

}
.hub-logo{
    width: 70px !important;
    height: 70px !important;
}
.title-block{
    height: 75px !important;
}
.square-icon{
    width: 3.7em;
    height: 3.7em;
}