<header>
    <div class="header-background">
    </div>
    <nav class="header-nav">
        <ul>
            <div class="left-menu">
            {#todo :rajouter condition twig : si l'utilisateur est enregistré #}
                <li id="menu-btn">
                    <button class="general-menu-btn" >
                        <img src="{{ asset('img/icon/menu_icon.png') }}" alt="menu">
                    </button>
                </li>
                <li id="agenda-btn">
                    {#todo : faire le lien vers la page agenda utilisiateur#}
                    <a href="" class="general-menu-btn" >
                        <img src="{{ asset('img/icon/agenda_icon.png') }}" alt="agenda">
                    </a>
                </li>
                {#todo : rajouter sinon -> afficher le formulaire de connexion inscription
                    <li>
                        <a href=" ***** url page de connexion || btn javascript formulaire qui déroule direct ***** ">connexion</a>
                    </li>
                #}
            </div>
            <li>
                {#todo : mettre un formulaire qui tiens la route#}
                <form id="search" action="" >
                    <button id="close"><img src="" alt=""></button>
                    <input class="search-field" type="text" name="searched" required placeholder="recherche">
                    <button id="search-btn"><img  src="{{ asset('img/icon/search_icon.png') }}" alt="search icon"></button>
                </form>
            </li>
            <li id="home-btn">
                <a href="/" class="general-menu-btn">
                    <img src="{{ asset('img/icon/hub_logo.png') }}" alt="HUB - HUmanBeing homepage">
                </a>
            </li>
        </ul>
    </nav>
</header>