<template name="newProjectModal">
    <div id="" class="modal new-project-modal">
        <div class="modal-content dark-grey">
            <h4 class="light-grey-police">Créér un nouveau projet</h4>
            <div class="row">
                <form class="col s12" newProjectForm>
                    <div class="col m10">

                    <div class="input-field">
                        <input placeholder="" id="new-project-name" class="new-project-name" type="text"  maxlength="50" minlength="5">
                        <label for="first_name">Nom du projet</label>
                    </div>
                    </div>
                    <div class="col m2">
                        <button class="btn-floating btn-large waves-effect waves-light orange tooltipped {{disabled}}" data-position="bottom" data-delay="50" data-tooltip="créer" >
                            <i class="material-icons">add_box</i></button>
                    </div>
                </form>
                <p class="red-text">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</template>