<template name="asideHeader">
    <div class="row">
        <div class="col-sm-4">
            <a class="navbar-brand col-xs-6" href="{{ pathFor 'home'}}">
                <img class="btn btn-default center-block" src="images/icon/hub_icon.png" alt="HUB - HUmanBeing homepage">
            </a>
        </div>
        <div class="col-sm-8">
            <div>
                <button class="navbar-brand btn btn-default"><span class="glyphicon glyphicon-search" id="search-button"></span></button>
                <input type="text" name="search" id="search-field" placeholder="rechercher sur HUmanBeing">
            </div>
        </div>
    </div>
</template>