@import "{}/client/scss/variables.scss";

#invitationList{
  li{

  }
  a{
    background-color: $contrasted-bg !important;
    border-bottom: 1px solid $main-bg;
  i{
    background-color: $focus-color !important;
    color: $contrasted-bg!important;
  }
    .title{
      margin-bottom: 10px !important;
      color: $plus-color;
      b{
        color: $plus-color;
      }
    }
    &:hover{
      background-color:  $contrasted-plus-bg !important;
    }
  }

}
